[2016-11-08 09:55] #268 closed

[2016-11-09 08:13] Lawrancecool opened #270 "for apache users error code":401,"message":"JWT Token not found""
code":401,"message":"JWT Token not found"

<VirtualHost *:80>
        ServerName FIReports

        ServerAdmin ssiplrobert@localhost
        DocumentRoot /home/robert/Projects/ServerProjects/Projects/FIR_Reports/web/

        # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
        # error, crit, alert, emerg.
        # It is also possible to configure the loglevel for parti

[2016-11-09 14:14] chalasr commented on #270
Sorry but we can't help more than we do already on this point since we can't make your apache web server handle headers differently than it does, the authorization header extractor of this bundle can only work if the header is properly transmitted by your web server and as far as  `$_SERVER` doesn't contain an `HTTP_AUTHORIZATION` header, the problem comes from your web server which did not transm

[2016-11-09 15:41] jpillias opened #271 "JWT and User Switch"
Hi,

It seem's that the "switch_user" wich is availaible in symfony (2.8 for me) is not compatible with LexikJWTAuthenticationBundle.

So I have create a service wich check if a X-Switch-User is present in the header.
If so, I check if current admin has ROLE_ALLOWED_TO_SWITCH. If so, he will be switched to the given user in X-Switch-User.

The problem is I don't know how to create a new JWT token

[2016-11-09 15:56] chalasr commented on #271
Hi @jpillias,

I don't know much about the `switch_user` so I'm not sure about if it is something we should provide support for (firewalls secured through JWT should be stateless), but if it is something compatible it would be great to support it. If it isn't, I will try to give you all in hand for recreating a new token. I'll try to come back with an answer for (at worse) tomorrow.

Thank you for

[2016-11-09 16:42] jpillias commented on #271
Thank you for your help.

I will wait after your answer, then may try to do a PR.

[2016-11-09 17:52] chalasr commented on #82
@guilhermeblanco For the record, an encoder based on `lcobucci/jwt` has been added in the recently released V2. I hope we can totally switch from `namshi/jose` to this one in a near future, some help from people experienced with the library would be really appreciated.

[2016-11-09 17:56] chalasr commented on #271
@jpillias after a quick look on this subject, it looks like the symfony `switch_user` feature doesn't fitimpersonating users is not compatible with this bundle:

However, it looks like this is possible to achieve e.g. using a custom header like you proposed and some logic for handling the impersonation and store a new security token in the symfony token storage.

I don't yet have an exact idea of

[2016-11-09 18:43] chalasr commented on #266
Hi @luniiix , sorry for the long delay.

I think your issue come from your web server and it will be hard to help you as you seem to be aware of the common issue about the `Authorization` header not properly transmitted when using apache.

Could you paste your `vhost` here? I can't guarantee anything but I can try to see if something is wrong, at least.

[2016-11-12 16:53] jokari4242 opened #272 "HWIOAuthBundle + FOSUserBundle"
Hi,

I'm try to configurate this bundle, but i have this error when i'm running this command:

curl -X POST http://localhost:8000/api/login_check -d username=user -d password=password

[code]

Here my configuration
### security.yml
[code]

Any idea?

Thanks :-)

[2016-11-14 17:44] chalasr commented on #272
Hi,

As the error say, you need to configure an encoder for HWIOAuth, e.g:

[code]

But I don't know if you're missing something else since this is not related to this bundle. Please consider asking this on stackoverflow or opening an issue on the concerned bundle.

I'm closing this because it is a support issue which is not related to this bundle, thank you for your understanding.

[2016-11-14 17:44] #272 closed

[2016-11-14 17:44] #270 closed

[2016-11-14 17:45] chalasr commented on #271
@jpillias Do you mind to work on this?

[2016-11-14 17:49] jpillias commented on #271
Hi,

Yes, thank you for you link.
I'm actually working on it, and hope finish it tomorrow :)

Best regards

Julien Pillias
Responsable R&D
Mail Metrics
01.55.46.91.58
www.mail-metrics.fr - 01.43.48.44.98 Follow us:
<https://twitter.com/mailmetrics>
<https://www.linkedin.com/company/mail-metrics-by-key-performance-group->

2016-11-14 18:45 GMT+01:00 Robin Chalas <notifications@github.com>:

[2016-11-15 01:58] jokari4242 commented on #272
It's work :-)

Thank you for your help!

[2016-11-16 11:03] teohhanhui commented on #271
Is there any reason why we can't just use SwitchUserStatelessBundle?

[2016-11-16 11:42] chalasr commented on #271
@teohhanhui I didn't find the time to try it yet but right now I don't see any reason to don't use it

[2016-11-16 11:47] teohhanhui commented on #271
I've just tried it out and it works seamlessly. So I don't think there's
anything we need to add in this bundle.

On Wed, 16 Nov 2016, 19:42 Robin Chalas, <notifications@github.com> wrote:

[2016-11-16 12:05] chalasr commented on #271
👍  Thanks for the feedback.
ping @jpillias

[2016-11-16 12:26] jpillias commented on #271
Hi,

I finally done my own developpement, because I need more flexibility like
using X-Switch-header AND X-Switch-Account.

So i've done a service for it, and using quiete the same functions than
this file :
https://github.com/lafourchette/SwitchUserStatelessBundle/blob/master/Security/Firewall/SwitchUserStatelessListener.php
(handle and attemptSwitchUser).

All seems to work well, we are actually

[2016-11-17 02:53] teohhanhui commented on #271
@jpillias I'm not quite sure what your additional requirements are, but it'd be great if you could contribute that to the SwitchUserStatelessBundle :smile:

[2016-11-17 16:51] chalasr opened #273 "Document how to manually generate a token for a given User"
As pointed out in [this stackoverflow question](http://stackoverflow.com/questions/29764275/symfony-2-manual-login-and-json-web-token/34320849), it may be helpful in some cases to generate a token programatically. As simple as:

[code]

[2016-11-19 19:35] hiromik opened #274 "Can't manage to trigger AuthenticationSuccessListener"
Hi, using Symfony 2.8 with MongoDB I can't manage to trigger the listener, the response always stays the same (the token) when I do a POST through /login.

![jwt2](https://cloud.githubusercontent.com/assets/9575928/20457943/7570bf04-ae97-11e6-8a99-1c118837c313.PNG)
![jwt1](https://cloud.githubusercontent.com/assets/9575928/20457944/75708ea8-ae97-11e6-921b-8e0983b53925.PNG)
![jwt3](https://cloud.gi

[2016-11-20 00:52] hiromik commented on #274
After hours of research... I finally found the problem, it was missing an UserInterface in the AuthenticationSucessListener (which is highlighted in the screen), the worst part of it is... it kept sending the  token like no problem and there wasn't any error message about it !
![jwt](https://cloud.githubusercontent.com/assets/9575928/20459504/f2137a02-aec3-11e6-80eb-8de34039cde6.PNG)

[2016-11-20 00:52] #274 closed

[2016-11-20 09:39] chalasr commented on #274
Yeah, since you're calling `return` in your listener, the event lifecycle just continue and our `AuthenticationSuccessHandler` returns the original response containing the original data, as it is already set before your listener intercept the event.

Unfortunately, event listeners might be painful to debug...

[2016-11-20 16:19] hiromik commented on #274
Yeah, thanks to your sandbox and the listener in it I managed to find the problem =)

[2016-11-23 21:22] chakgou commented on #102
This is my solution. It works for me with $http Angular.

 `  $http({
                url: Routing.generate('api_login_check'),
                method: 'POST',
                transformRequest: function(obj) {
                    var str = [];
                    for(var p in obj)
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    return

[2016-11-25 16:44] sirjcbg1 commented on #266
Hi @chalasr, I have the same issue, this is my vhost

DocumentRoot /var/www/html/backend/web
    <Directory /var/www/html/backend/web>
        AllowOverride None
        Order Allow,Deny
        Allow from All

        <IfModule mod_rewrite.c>
            Options -MultiViews
            RewriteEngine On
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteCond %{HTTP:Authorization} ^

[2016-11-25 18:11] chalasr commented on #266
Hi @sirjcbg1

I'm really sorry about that but unfortunately I can't see any issue in the vhost you given, it's pretty sure that the problem comes from your webserver, an httaccess overidding this config, `mod_rewrite` not enabled (you should really check that) and so on.

A quick alternative is to use a different name for your header, it can be achieved using the bundle configuration. For example,

[2016-11-25 20:05] sirjcbg1 commented on #266
Thanks @chalasr  for answer soon,

 1. I tried using JWT as prefix and not working.

 2. this is part of my .httaccess and can see the mod_rewrite is on!.

RewriteEngine On

    # Determine the RewriteBase automatically and set it as environment variabl$
    # If you are using Apache aliases to do mass virtual hosting or installed t$
    # project in a subdirectory, the base path will be prepended

[2016-11-25 20:22] sirjcbg1 commented on #266
In my dev.log, i can see

An AuthenticationException was thrown; redirecting to authentication entry point. {"exception":"[object] (Symfony\\Component\\Security\\Core\\Exception\\AuthenticationCredentialsNotFoundException(code: 0): A Token was not found in the TokenStorage. at /var/www/html/backend/vendor/symfony/symfony/src/Symfony/Component/Security/Http/Firewall/AccessListener.php:53

[2016-11-25 20:22] chalasr commented on #266
@sirjcbg1 Which version of this bundle are you using?

[2016-11-25 20:31] sirjcbg1 commented on #266
name": "lexik/jwt-authentication-bundle",
        "version": "v2.0.2",
        "version_normalized": "2.0.2.0",

[2016-11-25 20:37] chalasr commented on #266
could you run the `lexik:jwt:check-config` command and confirm me it succeeds?

[2016-11-25 20:39] sirjcbg1 commented on #266
jblanco@A000695972-L:/var/www/html/backend$ php bin/console lexik:jwt:check-config
The configuration seems correct.

[2016-11-25 20:45] sirjcbg1 commented on #266
The token is not being saved, so it is not comparing it with the one that I then send

[2016-11-25 20:48] sirjcbg1 commented on #266
I have to go, but I will return. please help @chalasr

[2016-11-25 20:49] chalasr commented on #266
I think the issue come from the fact you're using ldap. I'll look deeper at it tomorrow and keep you informed here.

[2016-11-28 17:10] sirjcbg1 commented on #266
Hi  @chalasr,

         Can you see something?

[2016-11-28 18:00] chalasr commented on #266
Hi @sirjcbg1, sorry for the delay.

I'm sorry but I will need to do some live debugging with you, since I don't have any ldap server at hand.

Could you please set the `throw_exceptions` option to `true` in your `api` firewall and retry? I would like to get more in the trace, in order to know which exception has been thrown by the bundle and which message it contains.

[2016-11-28 19:36] sirjcbg1 commented on #266
thanks for your answer,

I did a test with providers in memory, and also get 401 bad credentials,

POST /sandbox/web/app_dev.php/home HTTP/1.1
Host: localhost
Authorization: Bearer eyJhbGciOiJSUzI1NiJ9.e .......
Content-Type: application/x-www-form-urlencoded
Content-Length: 0

this is my security.yml

security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext

    role_h

[2016-11-28 19:39] sirjcbg1 commented on #266
Am I sending the token correctly?

[2016-11-28 19:50] chalasr commented on #266
It's not worth it, I think your issue is about how you send the token.
Do you still get the same error message with the last configuration you pasted (`form_login` and `in_memory` users)?

Anyway, could you please try through your cli using cURL:

[code]

Replacing `TOKENHERE` by the token and `127.0.0.1:8000` by your hostname?

[2016-11-28 20:01] sirjcbg1 commented on #266
If you also provide it a moment ago, I will download your sanbbox to prove it

[2016-11-28 20:02] sirjcbg1 commented on #266
if  also provide it a moment ago, I will download your sanbbox to prove it

[2016-11-28 20:04] chalasr commented on #266
@sirjcbg1 There's nothing to proof since there's no bug to fix here. I'm just trying to help you understanding what you're doing wrong. Please consider trying to run the curl command I given you in https://github.com/lexik/LexikJWTAuthenticationBundle/issues/266#issuecomment-263374770

[2016-11-28 20:07] sirjcbg1 commented on #266
I run the command curl and get the same issue "401 bad credentials"

[2016-11-28 20:13] chalasr commented on #266
Well, sorry but I don't know what to say.
You should try to clone https://github.com/chalasr/lexik-jwt-authentication-sandbox , follow the README and if it doesn't work for you, the issue comes from either the way you're sending the token or your webserver.

[2016-11-28 22:45] #271 closed

[2016-12-01 08:05] scaytrase opened #277 "[Feature] Usage for isolated services (no user DB access)"
Is possible to  use this bundle as an authentication system for isolated services, which do not have the access to the user DB to reload the user data.

We can sign all the needed data (username, roles, som other payload) to the JWT, so on the isolited side we only need a public key to check the signature and once it is OK we can use the token as a trusted store of user information for `UserIntefa

[2016-12-01 08:55] chalasr commented on #277
Hi @scaytrase,

Fortunately, the fact we use Guard should help here, compared to our v1 were we used a classic listener. The Guard authenticator which makes use of the configured user provider is extensible.

What I don't get here is that for being authenticated, you need an implementation of `UserInterface` to pass to the authenticated security token. Would you rebuild this object manually from t

[2016-12-01 12:45] scaytrase commented on #277
As far as I see the implementation of `UserProviderInterface` is not an alternative, but a mandatory, as soon as `security` component requires it to be configured for the firewall.

As for hitting the datastore, the my understanding exactly the same, that mentioned on the official [jwt.io website](https://jwt.io/introduction/):

[2016-12-01 13:13] scaytrase commented on #277
So the general idea, as a feature request, is to do the following:

* Define a kind of `MutableRoleUserInterface` with `setRole(array $roles)` method
* Define a abstract stub for `FactoryUserProvider` (or just document it), returning the instance of interface above
* Define the `getUserRolesField` manager method (like identity one), allowing to extract the role and put it into the user instance
*

[2016-12-01 13:14] chalasr commented on #277
Yeah, it's required by the symfony security component to have a configured user provider for securing resources, and this bundle uses the security component.
It's mandatory to have a `UserInterface` object for being able to create a security token (TokenInterface object) for authenticating the corresponding user during the Request, hence the advices given previously.

About the `jwt.io` statement,

[2016-12-01 14:53] chalasr commented on #277
Thank you for the hints. I'm more thinking about something like:

- Provides an `UserInterface` implementation (something like `JWTUser`) with just the minimal fields (i.e. username, roles)
- Add a `JWTUser::createFromPayload($username, $payload): JWTUser` method allowing to extend the `JWTUser` class and set fields such as roles as needed, retrieved from the payload.
- Provides an  `UserProviderI

[2016-12-02 07:16] scaytrase commented on #277
Sounds good for the brief look.

Can you provide the sample implementation of `createUserFromPayload` method? Without external configuration for `roles` source it should be a kind of hardcode to extract it from payload, that's why I suggest to put the role field name to the configuration in the same way it has already been done for username field.

[2016-12-02 10:38] chalasr commented on #277
See #278

[2016-12-02 11:15] eXtreme opened #281 "Invalid token causes error 500 when using Lcobucci"
Simple scenario: generate na JWT (so it is correct) and then modify a part of it so that base64/json is invalid. Or just use a token like this: `a.a.a` and send it to the app and you will get an error 500 because of RuntimeException from Lcobucci jwt parser/decoder.
[code]
The thing is, that this line: https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Services/JWSProvider/LcobucciJ

[2016-12-02 11:44] chalasr commented on #281
Really nice catch  👍  I'll try to propose a fix before the end of the week, thank you for your contribution!

[2016-12-02 13:04] scaytrase commented on #273
Also either unmark the `JWTAuthenticationSuccessResponse` as internal or document a way how to refresh the token using the token only (by hitting DB here now).

Currently I've end up with

[code]

Which looks weirds as it mostly a copy-paste, so I think it could be improved

[2016-12-02 13:12] chalasr commented on #273
@scaytrase Thanks for your feedback , I fully agree. I'll look at making the copy-pasted part reusable

[2016-12-02 13:42] sirjcbg1 commented on #266
Hi @chalasr,
Finally worked with parameter query parameter, using an LDAP provider, there should definitely be some configuration in apache and the headers

thanks

[2016-12-02 13:44] chalasr commented on #266
@sirjcbg1 Glad to read that. Indeed, I would be curious to see what `$_SERVER` returns from your side using the buggy configuration.

[2016-12-03 09:38] chalasr commented on #277
I don't see much value in making the `roles` field name configurable. The `username` should be the unique identifier and is used to retrieve the key that is put in the payload at token creatin (i.e. form_login) so it's useful to have it configurable e.g. for email logins. Having `roles` hardcoded should be enough imho, but maybe I miss a need.

[2016-12-03 11:00] #281 closed

[2016-12-03 11:48] scaytrase commented on #277
If we speak about using the single algorythm alongside the coupled system - yes, there is no need to configure the `roles` field name. Moreover there is no need to configure the `username` field name (both could be hardcoded and thus fetched back with the same codebase). If we speak about having a distributed system that uses JWT as the `bearer` token authenticattion standard, we should give eithe

[2016-12-03 22:38] cevou opened #284 "Path validation does not work with StreamWrappers"
Since version 2 there is a check n the configuration if the paths for private and public key are valid. This is a good thing, because you can show an error message to the user already while the container is being compiled. However, it doesn't work if you use stream wrappers. I use a stream wrapper (AWS S3) in my production environment, so that all nodes can access the same key pair. These wrappers

[2016-12-04 05:07] shawnriis commented on #34
I have similar problem, use curl get  "401 Bad credentials", But with phpunit it works, get token.
what is the problem?

[2016-12-04 10:28] chalasr commented on #34
Hi @shawnriis, could you paste your curl command here?

[2016-12-04 11:26] chalasr commented on #284
Hi @cevou,

It's indeed a common use case that I didn't think about when adding this validation. Right now the only way to fix it I see is to remove this validation from the configuration, and do it on login as in 1.x. I'll quickly make a fix and keep you informed here, a patch release will be drafted after merging it.

Thank you for reporting this bug

[2016-12-04 12:05] #273 closed

[2016-12-04 16:02] nabsw commented on #34
This is my curl command:
curl -X POST -H 'Accept: application/json' -H 'Content-Type: application/json'  -d '{"user":"user", "pass":"password"}' 'http://dmsapi/api/login_check'
I get:
 {"code":401,"message":"Bad credentials"}
It works with same settings in previous project with Symfony 2.8 + lexik/jwt-authentication-bundle 1.6/2.0
Currently  Symfony 3.1 + lexik/jwt-authentication-bundle 2.0.
While

[2016-12-05 09:16] #284 closed

[2016-12-05 09:37] chalasr commented on #284
@cevou The validation has been removed in #285 you can upgrade the bundle to v2.0.3 in order to get the fix

[2016-12-05 13:28] chalasr commented on #277
@scaytrase The `user_identity_field` is not only doesn't only reflect the name of the key added to the payload, but the property name to use for getting the value from your `UserInterface` object and put it in the payload under the same key name.
Here we are talking about roles, we don't need to be aware of this property and they must be accessible through `getRoles()` for having symfony giving th

[2016-12-05 15:38] cevou commented on #284
Thanks for the quick fix!

[2016-12-05 18:09] scaytrase commented on #277
I'm not sure what you mean about

The `UserInterface::getUsername()` method should be used for it, isn't it? What if I really have no real username field for object? maybe relation or virtual property i.e

[code]

[code]

So, for me, if we are leaving talks about cross-compatibility, the general approach of creating\parsing token is following:

[code]

As soon your code is responsible for both cre

[2016-12-05 20:18] chalasr commented on #277
It should be, but user providers do not always use `username` for loading users thus no, [it is not](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/798cfe4e30881b2adcbe9ddfee2e35b1b7557d98/Services/JWTManager.php#L98).

Let's take [FOSUserBundle](https://github.com/FriendsOfSymfony/FOSUserBundle) (which is  most of the times used along this bundle), the [`EmailUserProvider::loadUserByU

[2016-12-06 05:31] scaytrase commented on #277
So, you are breaking the single responsibility principle here. Your code is neither responsible for fetching `username` from user nor from putting it there.

You are missing the some methods on `UserProviderInterface` which can help you to understand the flow better.

For this purpose there is a method called [`UserProviderInterface::refreshUser(UserInterface $user)`](https://github.com/symfony/se

[2016-12-06 13:56] chalasr commented on #277
@scaytrase I know the security component and what it provides, you don't get my point.
By `loadUserByUsername($user->getUsername())` I mean:

[code]

Here, if the configured user provider is the `EntityUserProvider` (we use it in our [sandbox](https://github.com/chalasr/lexik-jwt-authentication-sandbox) btw) with `property: email`, then the call of `$userProvider->loadUserByUsername($payload['user

[2016-12-06 19:08] scaytrase commented on #277
No offence, I've just responded what I've seen :)
But thank for clarifying, now I understand you better.

I've just perform some digging about using emails with FOSUB and seems that the idea you trying to overcome is initially broken

See some links:

- https://github.com/FriendsOfSymfony/FOSUserBundle/issues/555#issuecomment-209899886
- http://stackoverflow.com/a/21064627/1361089
- https://github

[2016-12-06 19:32] scaytrase commented on #277
Well, actually the given example breaks the `UserInterface` here.

https://github.com/symfony/security/blob/master/Core/User/UserInterface.php#L74

Says that `getUsername` should return the username, used to authenticate the user.

fixing this making work without any additional configurations.

[code]

So everyhing is about conforming the contract

[2016-12-06 19:33] chalasr commented on #277
Of course and thanks a lot for the time spent here at trying to make this better, it's much appreciated.

I already realized it but Indeed, the links you given confirm it. That's why I finally took the `EntityUserProvider` as example for showing you the issue that the `user_identity_field` is trying to solve.

To be honest I don't expect much since I tried to dig into it already, but at worst it'l

[2016-12-06 19:33] scaytrase commented on #277
https://github.com/chalasr/lexik-jwt-authentication-sandbox/pull/3

[2016-12-09 14:59] tiagobrito opened #286 "Issued at is in the Future"
I have the token encode & decode in different machines. it seems that the then JWT Authentication is doing the decode of the token it fails due to the `iat` parameter > time().
What I'm doing wrong ?

[2016-12-10 10:30] chalasr commented on #286
Hi @tiagobrito, that's strange. It looks like the server from which you're decoding the token doesn't have the same clock as the one that created it (your decoding server time being apparently lower than the one of your encoding server).

Could you please visit http://currenttimestamp.com/ from these two machines, or do a `php -r "echo time();"`? So we can see the importance of the difference.

Fr

[2016-12-12 14:14] tiagobrito commented on #286
@chalasr Thanks for your reply.
Do you know if there is a way to disable the iat claim verification ?

[2016-12-12 14:34] Spomky commented on #286
If you have a time discrepancy between the server and a client, `iat` should not be the only claim that is affected. You will have troubles with the `nbf` one and, more important, with the `exp` one.

I had experiences with such an issue. The problem was not about the timestamp of each stakeholder, but the fact that the client used a timestamp with the timezone and not the current Unix timestamp (

[2016-12-12 15:02] tiagobrito commented on #286
@Spomky We are using the unix timestamp in both (server and clients). And after some debug, I checked that we got an invalid token due to the `$this->checkIssuedAt();` on `LoadedJWS` class.

[2016-12-16 13:19] AienTech opened #288 "Checking if a user is registred with his token"
Hi,
sorry that I'm posting this question here (as an issue), I've post it some time ago in stackoverflow but no one did answer.

I just wanted to check the token and see if the user on it is registered and if true, then return the user, else I would liked to return a 403 error.

but I'm using this code for now as a workaround, its working good but will not return the error code I wanted, instead,

[2016-12-17 21:34] crash21 opened #289 "Persist token in database"
Hello,

Currently if you have ttl 3600 and go to login_check you will get  token valid for 1 hour. If you go again to login_check you will get another key valid for 1 hour. Every time you do it one more key will be valid for 1 hour. But I would prefer only 1 key be valid (the last one created).

How to do this easily? I am thinking of just persisting key in db and check login against it.

Is this

[2016-12-17 22:59] carlcraig commented on #289
The default setup is completely stateless, and tokens cannot be `revoked` without some custom validation. In the documentation there is an example on how to lock a JWT to the IP address which created it. https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/2-data-customization.md

---

You could potentially do the following:

Add a `datetime` field called `tokenLastIssue

[2016-12-17 23:16] crash21 commented on #289
Excellent something like that was expecting! Thanks a lot!!!!!

[2016-12-20 18:37] leevanhe opened #291 "401 bad credentials on frontend"
I am making a app with back- and frontend, for my frontend i use ionic 2, for the back symfony 3.2.
When i try to login in the front i get following error.

"EXCEPTION: Response with status: 401 Unauthorized for URL: http://pomodoro.local/api/login_check"

but when i try the curl command in the CLI in the symfony part i see my token so that works.

![schermafbeelding 2016-12-20 om 20 01 52](https:

[2016-12-22 23:19] chalasr commented on #291
Hi,

Since you are correctly getting the token when running the request through cURL, there's nothing to fix here. I would look at the request headers from the symfony side, I fear you'll not find the authorization header and that the issue is just about sending it properly from your frontend service.

I suggest you to open a question on stackoverflow (see the support section of our readme) withou

[2016-12-22 23:19] #291 closed

[2016-12-27 09:12] Yanaro opened #292 "FOSUserBunder + LexikJWT token storage return null user"
Hello, after finally making FOS and Lexik to work together. I face another problem in which $this->get('security.token_storage')->getToken()->getUser() returns null.
I use postman chrome extension to send get request with Authorization header - Bearer [token]
getToken returns an object that contains only token, everything else is null.
onJWTAuthenticated event works (probably as expected) as its e

[2016-12-27 16:45] Aylarius opened #293 "LoggedIn Action in Controller"
Hi!
I'm using this bundle with Symfony 2.8 and Angular 1.5. I created different actions in my UserController (login, register, getall, getone, edit, delete) but I need to create a LoggedIn action to check if the user is logged and if the token is a valid one. This action will be called on client-side through the URL : api/loggedin.
All the solutions I found online were through eventlisteners, whic

[2016-12-28 10:25] chalasr commented on #293
Hi @Aylarius,

We use github issues for bug reports and feature requests, all support questions should be asked on  [stackoverflow](https://github.com/lexik/LexikJWTAuthenticationBundle#support) (please consider it for your next needs).

If I understand correctly, what you are trying to achieve is quite simple.
- Create the route sort as it is covered by your jwt-protected firewall (for a firewall

[2016-12-28 10:52] Aylarius commented on #293
It works perfectly!!
Thanks a lot for your fast reply and sorry I didn't know!

[2016-12-28 10:52] #293 closed

[2016-12-28 20:13] SmurfyFR opened #294 "Extending JWTTokenAuthenticator::getUser()"
Hi,

Before upgrading, I was using a JWTProvider to allow a JWT Token to be "user less" (eg : a token to allow another system to call my API (eg : a JWT used by my WHMCS installation).
I was overriding the `getUserFromPayload()` function to return a user created by instancing a new User object.

As the JWTProvider has been deprecated in flavor of the JWTTokenAuthenticator class, I would like to do

[2016-12-29 01:23] crash21 opened #295 "How to login with facebook access token"
Hello,

I have set up everything and works fine with from browser. But I have also an API and I want to login user from an ionic application I have using native facebook. All goes well except that I get back from the response in facebook in the app an access_token and not an authorize_code.

Now what should I do to log the user from this access token?
I have created this and is working but is this

[2016-12-30 10:53] ruudk opened #298 "Ignore expired tokens and let user continue unauthenticated"
When the JWT token of a user is expired, a `JWTAuthenticationFailureResponse` is shown. Is there a way to not do that? And just stop authentication and let the user continue anonymous?

Currently, there is no way to do this by subscribing to the `JWTExpiredEvent` event. Since the event has a default `JWTAuthenticationFailureResponse` response that can only be overwritten (not set to null).

I'm wi

[2016-12-30 13:26] #277 closed

[2016-12-30 14:06] chalasr commented on #294
Hi @SmurfyFR,

Thank you for opening this issue.
You're right to discuss about before trying to solve it, I did not answer you before today because in fact we were about to merge a feature that should solve your problem and it needed to be finished, it is now.

In #278 we added a _database-less user provider_ which creates user instances from JWTs payload. The user provider is not mandatory, any o

[2016-12-30 14:15] chalasr commented on #289
Hi @crash21, Thank you for opening this issue.
@carlcraig Thanks a lot for helping , that's how a great community works.

Closing this issue as solved!

[2016-12-30 14:15] #289 closed

[2016-12-30 14:28] ruudk commented on #298
I was using a cookie to store the JWT. I think I already solved this issue, because I had to make sure the cookie expiry time was the same as the JWT expiry time. Then, the scenario above will almost never occur.

[2016-12-30 14:33] SmurfyFR commented on #294
Hi,

That update should do the trick :+1:
Thank you!

[2016-12-30 14:33] #294 closed

[2016-12-31 07:31] scaytrase commented on #288
The general way for symfony is to check `is_granted('IS_AUTHENTICATED_FULLY')`

[2017-01-01 01:32] crash21 opened #299 "How to add ROLE_API"
Hello,

I am using FosRestBundle and I use:

    disable_csrf_role: ROLE_API

According this guide here: http://symfony.com/doc/current/security/api_key_authentication.html

It adds ROLE_API on the fly.

    public function loadUserByUsername($username)
    {
        return new User(
            $username,
            null,
            // the roles for the user - you may choose to determine

[2017-01-01 10:20] chalasr commented on #298
Hello @ruudk,

What you are asking is legit to me. Though, the need is quite specific, the expected behavior stays to throw exceptions if bad credentials are given (which is the case) and don't throw them if no credentials are given, so I'm not sure that it should be solved in the bundle.

A way to solve that could be to inject the `Symfony\Bundle\SecurityBundle\Security\FirewallMap` (`security.fi

[2017-01-01 10:27] chalasr commented on #299
Hi @crash21,

We just added a `JWTUserProvider` to solve this kind of needs.
It creates user instances from the JWT token on each request, meaning that we don't reload the user information (e.g. roles) from the database so it would be the same until the token is renewed.
If this behavior fits your needs, you can follow [this chapter of the documentation](https://github.com/lexik/LexikJWTAuthentica

[2017-01-01 10:30] chalasr commented on #292
Hi @Yanaro,

You're mixing the old and new way to use this bundle, please consider changing from:

[code]

to:

[code]

See the corresponding UPGRADE note: https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/UPGRADE.md#configuration

Let me know if the issue persists after that

[2017-01-01 19:42] crash21 commented on #299
Hey @chalasr,

It will be indeed better to add ROLE_API when user registers, but the problem will be then that all the time csrf will be off, but my objective is to just disable csrf when user uses API.

Thanks anyway! I will extend jtw guard authenticator, for my needs that will be the simplest solution!

[2017-01-02 12:28] chalasr commented on #299
Please close this issue when you're good :)

[2017-01-02 13:46] crash21 commented on #299
Hey thanks, closing.

[2017-01-02 13:46] #299 closed

[2017-01-04 15:26] ruudk commented on #298
It works! Awesome. Thank you :)

[2017-01-04 15:31] chalasr commented on #298
Indeed 👍  Please let this open, I'll do it asap

[2017-01-06 11:17] jpillias commented on #286
I think we have the same problem here. Did you found any solution ?

[2017-01-06 13:44] Adraesh opened #300 "JWT Token not found"
Hi,

As the title says I have a 401 when trying to contact my API. I can get the token of User without any problem but when I try to use it it's not working properly.

I am using SF 2.8 + lexik/jwt-authentication-bundle v2.1.0.

Thank you in advance.

My VHOST includes:

RewriteEngine On
            RewriteCond %{HTTP:Authorization} ^(.*)
            RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

The

[2017-01-06 15:10] Adraesh commented on #300
Just a quick note, I tested by enabling the token through parameter and it's working.

[2017-01-06 21:18] chalasr commented on #286
@jpillias Since we did not identified the problem and it's apparently not something wrong in the code base which is tested on CI platforms, we didn't investigated yet.
Thanks for telling us that you runs into the same issue, it can definitely only help and its much appreciated.

I'll try to look deeper at what is possible to do, keep you informed in the next days.

[2017-01-16 07:12] Yanaro opened #301 "Check user token on unprotected route?"
Is there anyway to check for user on unprotected route in case they provide the token? The idea is that I want to get user login status everywhere on the site without getting JWT expired / invalid if the requested route is not protected.

[2017-01-16 08:43] chalasr commented on #301
Hello,

There are different ways to achieve this, the simplest being to configure the jwt listener (guard authenticator) on the unprotected firewall, beside the `anonymous` listener, e.g:

[code]

If a valid token is passed, you'll be able to retrieve the user from the controller of your unprotected route  through `$this->getUser()`, if no token was passed, it will be null.
One thing to be aware o

[2017-01-16 09:07] Yanaro commented on #301
I actually tried that solution but getting 401 is pretty undesirable since what I want is either null user / anon or user with correct credential to render the page.

[2017-01-16 09:15] chalasr commented on #301
You should have a look at https://github.com/lexik/LexikJWTAuthenticationBundle/issues/298, we give a trick to change this behavior. It will be documented soon

[2017-01-17 08:16] Yanaro commented on #301
It works but it's kind of hacky IMO although i have only skimped through the spec so i'm unsure, or maybe it's how symfony normally works? I don't have much experience in symfony anyhow. Thanks for answering me.

[2017-01-17 08:42] chalasr commented on #301
Yeah, the authentication fails at the first exception thrown no matter if the current firewall allows anonymous requests or not, there's no built-in way to bypass that.
You're welcome.

[2017-01-17 08:42] #301 closed

[2017-01-18 04:14] Yanaro commented on #292
Sorry, I never knew that this issue was answered, github failed me I guess. Anyway, I found the way to fix the problem, it's nice the know the reason though.

[2017-01-18 04:14] #292 closed

[2017-01-26 15:42] AienTech commented on #288
@scaytrase Thanks for the answer, but its not what I wanted. I mean I need to decode the Payload and extract the username, then check if this username exists.

if true then it will return the user object. else it should throw a 403 (or 401) error, without redirecting to login page. similar question have been asked in #122 but the solution is not working for me

[2017-01-26 18:14] scaytrase commented on #288
You should not do this manually for sure. If you have configured firewall with `access_control` section (which triggers firewall) then you will should have this functionality by default. Looks like that you have some kind of firewall misconfiguration, as redirection is performed with `form_login` only (or custom authenticators). You can post more of your config (i.e firewall and access_control) so

[2017-01-26 18:28] chalasr commented on #288
@AienTech Hi, sorry for being late.
@scaytrase is right. You should take a look at the README, this bundle provides an authentication mechanism that makes use of the symfony security system. You have to configure the guard authenticator on your firewall to do things right, not fetching it from the container for authenticating users manually. Like that you're sure to don't create security issues in

[2017-01-27 16:00] spike31 commented on #300
Hi, I think you can found an answer to that common error on search on the issues or stackoverflow :)

[2017-01-27 16:00] #300 closed

[2017-01-27 16:04] Adraesh commented on #300
Hello

Sorry I totally forgot to come back to close the issue, and yes I found the answer through google etc ...

Thanks !

[2017-01-28 23:35] johnpancoast commented on #31
@adetwiler what was the solution? I have similar configuration with a similar error.

[2017-01-29 16:40] adetwiler commented on #31
@johnpancoast I can't remember specifically, but here is my new config that works. I separated the routes to where /api is accessible to anyone and use /sapi for authenticated api requests.

`

        api:
            pattern:   ^/api
            stateless: true
            anonymous: true

        sapi:
            pattern:   ^/sapi
            stateless: true
            lexik_jwt:

[2017-01-29 19:57] johnpancoast commented on #31
I actually found my problem which was just a misconfiguration of the login route. Thanks, @adetwiler.

[2017-01-30 09:42] AienTech commented on #288
dear @scaytrase and @chalasr thanks for your helps. just to make sure, I'll send my security configs. maybe there is something that I didn't see.

[code]

the thing is, I've secured all of my `POST` and `PUT` methods, and not all of `GET` methods are secured, since they can be accessed publicly, but there are some other `GET` methods which needs the user to be logged in. as an example,
`GET /api/b

[2017-01-30 19:24] scaytrase commented on #288
Could this be an issue? You have the WHOLE path /api/user/ being accessed anonymously, not only `/api/user/check` here

try something like `^/api/user/check$

[2017-02-01 08:06] Toilal commented on #34
I have the same issue here with Symfony 3 and FOS User Bundle.

[2017-02-02 11:58] #266 closed

[2017-02-02 12:01] chalasr commented on #295
@crash21  Sorry for the delay.
I've been using pretty-much the same logic for a similar need, I'd say there is no best practice surely due to that the use case is a bit "edge".

[2017-02-04 12:44] devdzmc commented on #34
I have same issue please help?

[2017-02-04 12:47] Toilal commented on #34
Use `_username` and `_password` as POST parameters. After some debuging, I found that those values are the default ones to use.

[2017-02-09 23:41] crash21 commented on #295
Thanks a lot, it can be closed!

[2017-02-09 23:41] #295 closed

[2017-02-09 23:42] chalasr commented on #295
Thanks for opening this issue

[2017-02-14 07:24] scaytrase opened #305 "Access public key string programmaticaly"
In order to build extensible communications I want to publish my public key from signing key-pair as a separate controller file.

If I try to use the following code

[code]

it shows me

[code]

Is there any convenient way to export public key without knowing the nature of underlying library that reads the key from the filesystem?

I have an option to manually fetch the key from the container para

[2017-02-14 08:44] chalasr commented on #305
Sounds legit to me.
What do you think about adding an interface like e.g. `KeyReaderInterface::readKey()` and make the existing key loaders implement it?
Would you mind submit a PR?

[2017-02-14 10:26] scaytrase commented on #305
Interface idea looks OK, maybe `KeyDumper` ? `current Loader` actually `Read`s keys already
not sure if I'm fully familiar with openssl and other libs to implement it properly

[2017-02-14 10:27] chalasr commented on #305
No problem, I'll do.

👍

[2017-02-14 15:23] chalasr commented on #288
@AienTech What's the status of this issue?

[2017-02-15 12:31] arunmit opened #306 "Unauthorized under Multiple entity managers, jwt was authorizing the user but checking the first provider written under firewall."
We had multiple entity managers, and for the users under providers who are having same "email", JWT was authorizing the user but checking the user under the first firewall i.e "demologin" but the user has to be authorized from the "acmelogin".
If we change the order(acmelogin,demologin,applogin) under firewall then the user is being authenticated successfully who is under "acmelogin" but the same

[2017-02-15 12:42] AienTech commented on #288
@chalasr I'll check very soon

[2017-02-23 16:31] Algatux opened #307 "Sign with HMAC algo is keypair bound"
I'm using the bundle with lcobucci provider, his library offers an HMAC sign feature using only a secret, the bundle instead seems to not support it requiring a private/public certificate.

in \Lexik\Bundle\JWTAuthenticationBundle\Services\JWSProvider\LcobucciJWSProvider::create:66
[code]

and in \Lexik\Bundle\JWTAuthenticationBundle\Services\JWSProvider\LcobucciJWSProvider:91
[code]

do you plan

[2017-02-23 18:30] chalasr commented on #307
The support for different algorithms with different JOSE libraries is indeed something that needs to be enhanced. I would be pleased to see a PR, especially for the lcobucci provider which could very well become our default one in the next major. I'm ready to help this way if needed.

[2017-02-24 19:41] regisnew commented on #306
I have the same problem.

[2017-02-26 10:52] FlorinAsavoaie opened #308 "XML Configuration"
Hi,

All examples include YAML configuration but no matter how much I tried, I couldn't get this configured in config.xml.

Could someone please provide some XML config examples in the documentation?

Thank

[2017-02-26 11:04] chalasr commented on #308
HI @FlorinAsavoaie,

Could you try this: http://converter.rosstuck.com ?

[2017-02-26 11:33] chalasr commented on #306
It sounds like a symfony "bug" to me (quoting because unconfirmed), or a misconfiguration (e.g. missing `access_control`,  conflicting `pattern`, ...).
Could you try replacing the `lexik_jwt` listener by a simple `http_basic: ~` and tell us if the same issue occurs?
It would also be interesting to try with our v2 (last stable, it makes use of Guard) to see if gives the same.

[2017-02-26 14:22] FlorinAsavoaie commented on #308
That one clearly says it ain't for config but for services...

On Sun, Feb 26, 2017 at 1:04 PM, Robin Chalas <notifications@github.com>
wrote:

[2017-02-28 10:28] chteuchteu opened #310 "Handle empty or null header prefix"
First, thank you for your great bundle!

`AuthorizationHeaderTokenExtractor->extract` method works well for non-null/empty prefixes (`Bearer` for example), but will return `false` otherwise.

For instance, I'd like to use a `X-Auth-Token: {token}` header. I set this up in my `config.yml`:
[code]

In this case, the [explode](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/TokenExt

[2017-02-28 10:30] chalasr commented on #310
I agree 👍
Would you mind to submit a PR for this? I would merge it as a bugfix on our 1.x branch.

[2017-02-28 11:38] #310 closed

[2017-03-02 15:50] regisnew commented on #306
I think the problem is here (lexik/jwt-authentication-bundle/Lexik/Bundle/JWTAuthenticationBundle/Resources/config/services.xml):
[code]

The first argument is empty.

[2017-03-02 15:59] chalasr commented on #306
@regisnew That's expected, nothing wrong here. The argument is set dynamically using the user provider configured on your firewall, the symfony security component is responsible for that.

Please consider my previous comment about reproducing your use case with a symfony _built-in_ provider e.g. `http_basic`.
If the problem doesn't occur then we may start investigating the issue, but we we'll not

[2017-03-02 16:02] chalasr commented on #286
I'm closing this issue as won't fix for now. Please let us know if you find how to fix the issue or if you face the same.

[2017-03-02 16:02] #286 closed

[2017-03-02 16:05] jpillias commented on #286
Just for information, the problem was on our server.

We had load balancing with 2 front server. Servers were not date sync (ntpd), so they had more than 10s difference between both.
=> If you log on the server wich is "in the futur", it give's you a token with a futur timestamp, wich give an error during 10s on the other server.

[2017-03-02 16:15] chalasr commented on #286
@jpillias Thank you for sharing!

[2017-03-02 16:29] regisnew commented on #306
@chalasr, I changed the first firewall to http_basic and the problem doesn't occur.

Thanks for your atention.

[2017-03-02 18:02] chalasr commented on #306
@regisnew I was thinking to updating all firewalls that make use of `lexik_jwt` to make them use `http_basic` and look if the behavior is the same. Could you try that? Thank you

[2017-03-08 17:57] IljaN opened #313 "Moving token from body to header"
I would like to have the token which is returned after login, to be returned in the header instead of the body.

I created a AuthenticationSuccessListener, but can`t overide the body to make it empty. Is this intentional?
[code]

[2017-03-09 20:02] regisnew commented on #306
the problem doesn't occur when I use guard instead lexik_jwt.

[code]

Obs.:  "lexik/jwt-authentication-bundle": "2.1.1"

[2017-03-09 20:04] chalasr commented on #313
This is the expected behavior indeed, but that's because we didnot see any valid use case at the moment it has been implemented. I'll have a look at what we can do, maybe this event deserves a `setResponse()` as well.

[2017-03-09 20:07] chalasr commented on #306
@regisnew Thank you for upgrading and confirming, that's useful. I'll investigate the issue on our 1.x branch.

[2017-03-09 21:07] IljaN commented on #313
My usecase is that for example vue-auth defaults to reading the token from the header after login. I googled and found some other jwt implementations that also behave like that altough they seem to be in the minority.

[2017-03-09 21:37] #305 closed

[2017-03-13 19:37] MisterGlass commented on #307
Any word on this? I wanted to try switching from RS256 to HS256 & see if there was a big speed difference, but I can't get HS256 working. I changed the signature_algorithm & made sure I had a passphrase set, but I keep getting errors that my JWT is invalid.

[2017-03-30 12:05] chalasr commented on #313
Fixed by #320

[2017-03-30 12:05] #313 closed

[2017-03-31 11:02] IljaN commented on #313
@Batch1211 Thank you very much! <3

[2017-04-03 18:03] chalasr commented on #308
@FlorinAsavoaie In fact we do not provide a schema for xml configuration. If nobody does it, I will work on this as soon as possible.

[2017-04-06 13:34] rolandrajko opened #322 "Database-less user provider vs. Doctrine persist"
Hi,

I'm sorry that I'm posting this question here, as an issue, but I have a problem what I wanna solve nicely, and I guess you can help me the most.

So, I would like to use your [database-less user provider](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/8-jwt-user-provider.md) solution, with my own `User` entity, to save at least one extra database query (getti

[2017-04-07 07:56] chalasr commented on #322
Hi @rolandrajko,

I'm not able to say what happen right now, I'll try to reproduce this weekend.

However, I would recommend to not use a doctrine entity and keep using a different model than the one managed by doctrine, first to avoid such issues (I have to look at the exact problem though), but especially because coupling your domain with 3rd party bundles/libraries  is not ideal (see http://eln

[2017-04-07 09:53] rolandrajko commented on #322
Hi @chalasr,

Firstly, thank you for the advice. I will decouple them.

However, I have found a kind of solution. Now, everything works fine, I have no extra query.

AppBundle\Entity\User:
[code]
JWTAuthenticatedListener:
[code]
Nevertheless I still look forward to your solution.

Thanks.

[2017-04-13 10:40] DrBenton opened #323 ""token_ttl" must be a numeric value, but that's not compatible with Sf 3.2+ `%env(FOO)%` mechanism"
Hi,

As we now have this shiny `%env(FOO)%` mechanism in Symfony configuration [for a few months](http://symfony.com/blog/new-in-symfony-3-2-runtime-environment-variables), and as it looks like it will be omnipresent in Symfony 4, it would be nice to be able to use it with this (wonderful) Bundle, wouldn't it?

But if I'm not wrong, it's not possible at the moment, because of [this check](https://

[2017-04-13 12:31] chalasr commented on #323
Hi @DrBenton,

You should have a look at the `is_numeric` function in the manual http://php.net/manual/en/function.is-numeric.php.
The whole point of using `is_numeric` is to handle numeric strings, e.g:

[code]

However, your issue made me realize that this bundle is not yet compatible with runtime environment variables (`%env()%` syntax), because a parameter is created from each value of the bun

[2017-04-13 13:31] DrBenton commented on #323
Hi @chalasr

Indeed, this is how `is_numeric` works, but as you said the issue here is that in the case of an `%env()%` syntax we receive a value which doesn't look like a numeric value at all - hence the failure of `is_numeric`, even if alter on we do provide a numeric-ish value at runtime via en environment var :-)

Thank you very much for taking care of it!

Olivier

[2017-04-13 13:34] chalasr commented on #323
@DrBenton I'm not sure to get what you mean. Why wouldn't the env var be a numeric value? Could you please give an example of the value that could reach this statement in your case?

[2017-04-13 13:36] chalasr commented on #323
When using `%env()%` (or just `%%`), the parameter values are resolved with the whole configuration before being processed (thus before reaching this statement), which also make actually impossible to have them dynamic at runtime.

[2017-04-13 16:37] DrBenton commented on #323
Yeah, because at build time we receive a "dynamic parameter placeholder" rather than a real value.

As you can see on my XDebug session screenshot, even if I do have a `JWT_TOKEN_TTL=86400` env var I receive a `env_JWT_TOKEN_TTL_[some md5]` string placeholder at build time. This is done automatically by the DIC when it detects the  `%env()%` syntax.
So which will never look like a numeric value, e

[2017-04-13 17:14] chalasr commented on #323
Ok got it! My reproducer was wrongly configured, sorry about the confusion.
Happy to see that we are ready to leverage this feature once this compile time validation removed.

Instead of totally removing it, I would move it at runtime. There are two places relying on the TTL which are [`DefaultJWSProvider`](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Services/JWSProvider/Defa

[2017-04-13 20:48] MisterGlass opened #324 "Extending the Key Loader"
I have an ops requirement to load my key from an envar. This looks easy to do, I just need to implement the KeyLoaderInterface and have my class injection into the JWSProvider

I could make the change to my keyloader in a compiler pass, but it would be nicer (in my eyes) to set it in the config (like the encoder service). Should I make the config change and submit a PR? Or is there not enough inte

[2017-04-14 11:38] DrBenton commented on #323
Hey @chalasr ,

Yeah, this is what I wanted to do: move the check from container build time to app runtime.
It would have been better to keep at at build time, as it allows us to have nice error messages when warming the cache rather than potential bad surprises when the app is deployed and receives it first requests, but in that case I don't think it's possible to keep at at build time.

I can ta

[2017-04-14 14:21] #323 closed

[2017-04-23 12:31] felixmagno opened #326 "compatibility without use doctrine orm"
Hello :)

We are using Propel ORM (PropelBundle), and we using custom provider. The autentication with LexikJWTAuthenticationBundle works, but we have a problem when we use the token, for each request the provider is called, (It is inefficient because always is hit the database).
Can you help us please?

Thank you!

[code]
[code]

[code]

[code]

[2017-04-24 11:46] chalasr commented on #326
Hello @felixmagno,

The default behavior is to hit the database each time the token is submitted.
However, you can avoid this by using our built-in `JWTUserProvider` (`lexik_jwt`) for your JWT protected firewall. See https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/8-jwt-user-provider.md#a-database-less-user-provider.

Let me know if it doesn't solve your issue compl

[2017-04-24 12:24] lsmith77 commented on #250
my use case for a token with infinite lifetime is development. obviously for production we would use a separate private/public key value. I guess for now I will just extend the lifetime.

[2017-04-24 12:26] chalasr commented on #250
Good point I think. We could allow null depending on `%kernel.debug%`/`%kernel.env%`

[2017-04-24 12:26] lsmith77 commented on #250
yeah f.e.

[2017-04-24 13:36] lsmith77 commented on #250
are you willing to reopen this ticket if the scope of token's without ttl is limited to debug mode being enabled?

[2017-04-24 13:39] chalasr commented on #250
Reopening, I'm on it.

[2017-04-25 02:00] felixmagno commented on #326
Thanks for you help, finally I used createFromPayload... this my code:

Thanks again!

[code]

[code]
[code]

[code]

[2017-04-25 02:00] #326 closed

[2017-04-27 12:17] chalasr commented on #324
Hey @MisterGlass,

I plan to review a bit the "encoding" part of this bundle for a v3, things are going too far, we've somehow rewritten the JOSE library this bundle depends on to correct some bad/missing behaviours, we should have changed the default JOSE library instead, which is what will happen in 3.0.

So I propose to keep this open and keep using a compiler pass for solving this need until I

[2017-04-27 12:19] MisterGlass commented on #324
Thanks. I actually ended up using a server level workaround for my problem, but this seems like a worthwhile feature.

[2017-04-27 15:00] Boulboulouboule opened #327 "InvalidArgumentException : The token is an invalid JWS"
Hi !

I'm encountering an issue installing my project on a new environnement. Everything works well with 2 others environnements, but with this one it fails... :(

The token is successfully generated, but I can't use it, it looks like it can't be decoded.
Here're the logs :
[code]

Do you have any clue ?

Thanks for the help !

[2017-04-27 15:16] chalasr commented on #327
Hi @Boulboulouboule

This issue would be better asked a stackoverflow since it is not a bug regarding this bundle but a platform issue. Now that you're here, let's try to know what happens.

I suggest you to `var_dump()` the token once it is created (f.e. by dumping this line: https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Encoder/DefaultEncoder.php#L44), put it in your clipboar

[2017-04-27 16:46] Boulboulouboule commented on #327
Hi @chalasr !

Yes it's true, sorry and thank you for giving me a part of your time despite it.

I did it ! And the dump return me `false` inside the decode() function each time in the production environment. It's weird, on my local environment the dump is returning me the token..!

I can't figure out what is causing this issue, do you have any idea ?

[2017-04-27 16:52] chalasr commented on #327
@Boulboulouboule I think you're running into this issue https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/index.md#important-note-for-apache-users

[2017-04-27 16:55] Boulboulouboule commented on #327
@chalasr I checked and added it in the .htaccess before posting the issue, but it still doesn't works  :/

[2017-04-28 09:53] schodemeiss opened #329 "Question: Encrypting contents of the JWT"
Hello,

My system requires the use of a users email fairly frequently, and I'd like to include that in the JWT if I can so I don't have to hydrate my user from my DB on every request to my API, but I'm aware that anyone that could get hold of this token, could then see another users email address or other sensitive information in the token.

**Is there a way to encrypt the contents of the token?**

[2017-04-28 11:43] chalasr commented on #329
Hi @schodemeiss,

This bundle doesn't provide encryption out of the box due to the fact we depend on JOSE libraries which do not provide it. I suggest you to have a look at https://github.com/Spomky-Labs/lexik-jose-bridge which provides encryption support for this bundle through a custom encoder service.

Let me know if it helps.

[2017-05-02 07:59] chalasr commented on #327
You're welcome, closing as resolved then.

[2017-05-02 07:59] #327 closed

[2017-05-02 08:28] Spomky commented on #329
Hi @schodemeiss,

I will be happy to help you to use the https://github.com/Spomky-Labs/lexik-jose-bridge

Feel free to contact me if you need help or information.

[2017-05-02 09:05] schodemeiss commented on #329
Perfect, thank-you!

[2017-05-02 09:05] #329 closed

[2017-05-02 15:03] #250 closed

[2017-05-02 15:19] chalasr commented on #250
Fixed in https://github.com/lexik/LexikJWTAuthenticationBundle/pull/330/commits/e1a0f378bb0c1cc1951ee935e73adc4e99891e86.
The token lifetime can be infinite again by setting the `token_ttl` option to `null` which is highly discouraged in production. I did not add any restriction regarding the environment, after all I think a good default value + a warning in the docs (todo) are enough.

[2017-05-03 08:05] soyuka commented on #250
May you release this one? Thanks!

[2017-05-03 15:25] chalasr commented on #250
@soyuka I will do for the end of the week, I would like to see if we can easily leverage some symfony 3.3 features beforehand.

[2017-05-04 05:56] lsmith77 commented on #250
thx!

[2017-05-05 15:32] Webonaute opened #331 "Unable to verify the given JWT through the given configuration."
since I updated to symfony3 I have this error message :
Unable to verify the given JWT through the given configuration. If the "lexik_jwt_authentication.encoder" encryption options have been changed since your last authentication, please renew the token. If the problem persists, verify that the configured keys/passphrase are valid.

My config :

[code]

it seem that when Namshi/Jose package verify

[2017-05-09 09:46] ernestohegi opened #333 "lexik_jwt_authentication.jwt_token_authenticator doesn't exist"
After installing the bundle and configuring it according to https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/index.md, I get the following error:

I've tried with versions 1.5 and 2.3.

Using Symfony3.

[2017-05-09 09:50] ernestohegi commented on #333
It seems composer was using my cached 1.5 version instead of the 2.3.

Everything's working fine now.

[2017-05-09 09:50] #333 closed

[2017-05-09 15:53] chalasr commented on #331
I'm unable to reproduce. Is your public key still present and readable in the configured path? Did you regenerate them? Forking the symfony standard edition with the minimal configuration required to reproduce your bug would help.

[2017-05-09 19:35] Webonaute commented on #331
I regenerated the key twice.

I will try to fork the symfony standard edition to reproduce.

[2017-05-09 22:20] chalasr commented on #331
Which version of this bundle are you using ? Is it the same as before upgrading?
Thanks

[2017-05-11 07:44] christianwico opened #334 "JWT with no users"
Is it possible that I can use this bundle to authenticate a mobile app without any sort of `User` entity? My app will have no users.

[2017-05-11 09:50] chalasr commented on #334
The symfony security system is all about a User object (see its UserInterface and TokenInterface), you can't use it to perform authentication/authorization without such object.

The role of this bundle can be resumed in two steps:
1) Get the token (generally done by sending a _valid username-password couple_ to a login route)
2) Perform authorized requests with this token (send the token via e.g.

[2017-05-11 13:19] robhunt3r opened #335 "No returned user in payload"
[code]

The response in my app contains `token` and `user` keys but `user` is empty, if I debug it, `$user` is indeed an `User` otherwise the condition above would trigger (and it doesn't)

If I return `$payload['user'] = $user->getId()` it is returning the id...

Why is this happening?

[2017-05-11 13:38] chalasr commented on #335
It happens because you are giving your whole User object to the payload, and `json_encode` doesn't know how to represent it (you can try it out `json_encode(['user' => $user]) ===  "{"user":{}}"`).

Normalize your object as an array of `'property' => $user->getProperty()` instead (can be done via [the symfony serializer]()), or teach `json_encode` how to represent your User object by making it imp

[2017-05-11 13:38] #335 closed

[2017-05-18 16:19] m0onspell commented on #234
@chalasr thanks, that fixed the issue for me as well. So I am assuming this guide with custom Authenticator and direct usage of encoder is incorrect if we want our tokens to be expired:
https://kolabdigital.com/lab-time/symfony-json-web-tokens-authentication-guard

[2017-05-18 16:28] chalasr commented on #234
@m0onspell  You're welcome. However, as of the 2.0 version of this bundle (current is 2.4 this issue should not occur anymore, the encoder is now responsible for setting claims in the token payload. (see https://github.com/lexik/LexikJWTAuthenticationBundle/pull/249).

https://kolabdigital.com/lab-time/symfony-json-web-tokens-authentication-guard

As of 2.0 it should be correct, but we also switch

[2017-05-19 23:28] kopaygorodsky commented on #334
@chalasr @christianwico  I think he wants to track user actions without required sign up.
What if creating a user based only on UUID(unique phone id) until the user signs up with username and password.  Is it possible? I think some new Tokens and provides can help, right?

[2017-05-22 09:37] m0onspell opened #336 "How can I verify that user_id in request body belongs to current user?"
Let's say I am sending a form which have `user_id` field in it, which must be equal to ID of current user.
[code]
And a token in header, of course.

But doesn't that mean that anybody who have authenticated token can now submit a form with whatever `user_id` they want? So we need a way to verify somehow on the server that `user_id` from the form belongs to token owner. How can I achieve that?
Shou

[2017-05-22 10:09] chalasr commented on #336
If your user is _authenticated_ (through the current firewall, meaning that a valid token has been passed by header/query param/cookie in the current request), you can just get the current user via the `security.token_storage` service as usual:

`$form['user_id'] === $tokenStorage->getToken()->getUser()->getId()`

No need for passing the token as a form field.
If you don't want to use the symfony

[2017-05-22 10:16] m0onspell commented on #336
Cool, the first method works! Thanks!

[2017-05-22 10:16] #336 closed

[2017-05-23 16:55] chalasr commented on #322
@rolandrajko Your solution looks good to me. Thanks for sharing. Closing this as resolved

[2017-05-23 16:55] #322 closed

[2017-05-29 12:37] nicraMarcin opened #338 "less-database non-existent service "security.user.provider.concrete.lexik_jwt"."
Hello

I've tried to run JWTUser but after configuration symfony says:

[code]
[code]
in debug there is no that service
[code]

[2017-05-29 12:56] chalasr commented on #338
I can't reproduce. Which version of this bundle are you using? The provider has been introduced in [2.1](https://github.com/lexik/LexikJWTAuthenticationBundle/tree/v2.1.0).

Also the service is automatically created by the symfony security component and is private, you should find it using `sf debug:container --show-private|grep JWTUserProvider`.

Btw you have a typo in your config: `provider: lex

[2017-05-29 13:07] nicraMarcin commented on #338
Hi
I use 2.4 version.

I had error in provider :) I copied and pasted from documentation and there was `lexik_jwt` :)
I've changed to `jwt` and there is no error :)

[2017-05-29 13:13] chalasr commented on #338
oh indeed :)

[2017-05-29 13:48] nicraMarcin commented on #338
So, if i want get data from payload which interface should I use? Symfony UserInterface get from database
[code]

[2017-05-29 14:12] chalasr commented on #338
What makes you think it cames from database? You should use symfony's `UserInterface` like with any authentication provider. Try `var_dump(get_class($user));`, if it cames from database then your doctrine entity class will be dumped (`SharedBundle:User`), if it cames from the token then you should see `Lexik\Bundle\JWTAuthenticationBundle\Security\User\JWTUser`

[2017-05-29 14:19] nicraMarcin commented on #338
Ok,
so I have
[code]
and this returna from my User entity
[code]

[2017-05-29 15:31] #338 closed

[2017-05-29 15:33] chalasr commented on #338
Ok, I didn't realized you were not using our built-in guard authenticator

[2017-06-01 09:24] chalasr opened #340 "Allow passing RAW keys directly in config (from "private_key_path" to "private_key")"
Changing `public_key_path`/`private_key_path` to `public_key`/`private_key`, allowing to pass the key content directly as well as its file path.
This would allow storing keys as environment variables, btw removing the need for git-ignoring these keys if stored in the project itself (fixing https://github.com/symfony/recipes/pull/89).

This also relates to one thing I'd like to get in: allow using

[2017-06-01 11:55] DylanGD opened #341 "How to allow CORS requests"
Hi!

I use this Bundle + **NelmioCorsBundle**, the documentation says about CORS requests :

I have not find any doc or conf about to help us to configure it correctly ?

Thanks

[2017-06-01 18:58] chalasr commented on #341
Hi @DylanGD.

The documentation you pasted say ` both the login and api firewalls paths must be configured to allow CORS requests.`, which is the case in the attached code example because `^/api/` covers  the login path `/api/login` as well as all other routes.
If your routing is different than this one (e.g. the login path is `/foo/login` and the protected api is `/api`), just add a second entry

[2017-06-01 18:59] #341 closed

[2017-06-07 21:09] sergiosanabria commented on #300
I have the same problem. What was the answer?

[2017-06-07 21:38] chalasr opened #342 "Support looking at multiple name/prefix per token extractor"
Can be useful e.g. when using apache and FastCGI which can report the `HTTP_AUTHORIZATION` header as `REDIRECT_HTTP_AUTHORIZATION` (to be confirmed but still, the feature seems interesting to me).

[2017-06-08 21:17] jmogilner opened #343 "Getting logged in user"
I managed to create a token and pass it as header, and the JWT recognize it. But the token saved in token.storage does not contains any information about the user.

I have this:
`JWTUserToken {#162
  #rawToken: "eyJhbGciOiJSUzI1NiJ9.eyJyb2xlcyI6WyJST0xFX1VTRVIiXSwiZW1haWwiOiJ1c2VyQHJhZGl4YXIuY29tIiwiaWF0IjoxNDk2OTU1NzgzLCJleHAiOjE0OTk1NDc3ODN9.esW0MHTrofB2czMmloaUHkaeyhe7QCF0IMdh4BOmRROvS0mK8bmC2T

[2017-06-09 15:33] chalasr commented on #343
That's weird, I'm looking into.

[2017-06-09 15:55] chalasr opened #345 "Replace DefinitionDecorator by ChildDefinition on symfony 3.3+"
see https://scrutinizer-ci.com/g/lexik/LexikJWTAuthenticationBundle/inspections/bde7bdc8-11f4-4183-8536-9b35e52f548b/issues/files/DependencyInjection/Security/Factory/JWTFactory.php?status=new&orderField=path&order=asc&honorSelectedPaths=0#inspectioncomment-70497641

[2017-06-12 21:44] becauseinterwebs opened #346 "Getting the JWT Token Not Found Error, But Token Is In Header"
I just installed this bundle and installed the sandbox application.  I can get a token just fine:

`curl -X POST http://sandbox.localhost.com/login_check -d _username=test -d _password=test`

This returns:

`{"token":"eyJhbGciOiJSUzI1NiJ9.eyJ1c2VybmFtZSI6InRlc3QiLCJleHAiOjE0OTczMDYwMTgsImlhdCI6MTQ5NzMwMjQxOH0.DJjYjQSRxTDKeikHUs1Dsih7WK_7BownP3SA_gVMKCVUjfn9OfaqCp3bXFErqgAPnWtYn6u-LdX5H40ytW9m6j2pH

[2017-06-13 06:54] villers commented on #343
you can use https://jwt.io/ for inspect your token.

You token contain
{
  "roles": [
    "ROLE_USER"
  ],
  "email": "user@radixar.com",
  "iat": 1496955783,
  "exp": 1499547783
}

[2017-06-13 07:51] chalasr commented on #346
Can you dump `$request->headers` from the authenticator to see if the Authorization header is present?

[2017-06-13 08:07] chalasr commented on #343
@jmogilner I can't reproduce, the security token contains the correct information. Are you extending the authenticator somehow?

@villers hello :)

[2017-06-13 08:32] chalasr commented on #346
And if it is, past the content of your config.yml + security.yml here?

[2017-06-13 09:05] chalasr commented on #307
This will be truly supported soon.

[2017-06-13 11:10] antonmedv opened #347 "Integrating with FOSUser and HWIOAuth"
Hi,

I have an app configured with FOSUser and HWIOAuth, now i'm creating an SPA and want to use jwt tokens. Do you have some guides about integrating all things together? Or maybe some articles?

Also what is better way of integrating oauth for SPA? For form with login/password you can send request to backend api and get jwt token back. But whsat to do with oauth services like google/github/etc?

[2017-06-13 11:56] chalasr commented on #288
I'm closing here due to the lack of feedback, feel free to reopen.

[2017-06-13 11:56] #288 closed

[2017-06-13 15:12] becauseinterwebs commented on #346
Here are the headers from the request object passed to the TokenExtractor:

[code]

**security.yml**

[code]

**config.yml**

[code]

parameters.yml

[code]

[2017-06-13 15:19] becauseinterwebs commented on #346
I have traced to this part of function **extract(Request $request)** in **AuthorizationHeaderTokenExtractor.php**:

[code]
$headerParts[0] = 'Bearer', not 'JWT' as configured in the sandbox app.  Changing this call in **JWTAuthenticator.php** in function **getTokenExtractor** fixed it:

not-working:
[code]
working:
[code]

I will close this issue.  Thank you!

[2017-06-13 15:19] #346 closed

[2017-06-13 15:23] chalasr commented on #346
Ah yea... This is made to demonstrate the ability to alter token extractors from the authenticator itself, but it seems more misleading than helpful, I may change this to reflect the bundle doc. Thanks for the feedback!

[2017-06-14 04:33] ad3n opened #348 "[ASK] Use Load Balancer Client"
When i use load balancer in my frontend app, the auth is not working properly and always return 401

[code]

I don't known, it is from symfony side or bundle side, may you can explain how that issue is producing and how to solve

[2017-06-14 17:34] chalasr commented on #348
Did you looked at [_How to Configure Symfony to Work behind a Load Balancer or a Reverse Proxy_](http://symfony.com/doc/current/request/load_balancer_reverse_proxy.html)?
If it doesn't help, I suggest you to first disable the bundle and try another authentication listener (form_login, http_basic, ...) to be sure that the problem comes from the bundle doubt that your problem comes from the bundle.

[2017-06-14 17:34] #348 closed

[2017-06-14 17:41] chalasr commented on #347
Hello @antonmedv,

Outside of the fact you're using FOSUser and HWIOAuth bundles, this is an interesting question.
We don't have any docs about integrating this bundle for SSO, OAuth or any third-party authentication. I plan to work on providing examples in our sandbox asap.
In the meantime, could you provide more info about your exact workflow? Is your SPA a standalone application (maybe front-en

[2017-06-15 01:19] wimpog opened #350 "Symfony 3.3"
When will this be ready for Symfony 3.3?
Thank you!

[2017-06-15 01:46] ad3n commented on #348
@chalasr : Thanks for your answer but this is not Symfony App but Frontend App. I have multiple client with behind Load Balancer, the session is shared by redis and it work properly.

My problem is, when i use token (getting from the Symfony App use it bundle), The Symfony is always returning 401 like my first post.

That is the problem... I have no problem with Symfony Behind Proxy

[2017-06-15 03:53] antonmedv commented on #347
@chalasr yes, SPA is a standalone app front-end only. Now you login with github, user needs to go to special route, that route will redirect him to github and back to callback route, there HWIOAuth exchange access_tokens and load user data.

I think it will be cool to integrate LexikJWTAuthenticationBundle here, and get API token in callback route of HWIOAuth.

[2017-06-15 06:54] chalasr commented on #350
It is alread. Ate you experiencing any issue ?
Or is it becauuse the readme has not been updated (I just realize)?

[2017-06-15 11:46] wimpog commented on #350
Yeah, the README. I ain't experiencing no issues, but want to make sure it is all set for that version.
Thank you!

[2017-06-15 11:52] chalasr commented on #350
You're welcome, sorry about the README, I'm going to fix that except if you wish to do it. Keeping this open until it's fixed

[2017-06-15 12:39] wimpog commented on #350
Thank you!

[2017-06-15 12:39] #350 closed

[2017-06-15 17:45] wimpog opened #351 "How to add a HEADER parameter?"
Say I want to add a `"typ": "JWT"` to the header. How do I accomplish it?
Thank you!

[2017-06-16 07:50] chalasr commented on #351
See https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/2-data-customization.md#eventsjwt_created---adding-data-to-the-jwt-payload for adding data to the payload.

Note that standard claims such as `typ`  will soon be part of the payload by default, some other might be configurable.

[2017-06-16 07:50] chalasr commented on #351
Closing as answered :)

[2017-06-16 07:58] Spomky commented on #351
Hi @chalasr

In fact `typ` is not part of the payload, but the header (see [rfc7519#section-5.1](https://tools.ietf.org/html/rfc7519#section-5.1)).

At the moment the bundle allows developers to alter the claims in the payload, but AFAIK there is not way to modify the header.
It would be achievable by extending the `JWTCreatedEvent` and adding `getHeader()`/`setHeader()` methods.

[2017-06-19 16:43] chalasr commented on #347
Sorry for the delay!

Based on what a colleague did at work (no FOSUser, no HWIOAuth, only a custom guard authenticator which makes use of [league/oauth2-github](https://github.com/thephpleague/oauth2-github), and this bundle) I would recommend the following workflow:

- Once your user has been redirected from e.g. github to your server-side callback url, forge a JWT in the callback controller act

[2017-06-21 07:42] antonmedv commented on #347
Ok, thanks. But working example with HWIOauth will be more awesome)

[2017-06-21 07:42] #347 closed

[2017-06-21 09:44] chalasr commented on #331
Closing here due to the lack of feedback. Feel free to comment or reopen.

[2017-06-21 09:44] #331 closed

[2017-06-23 13:27] walkoss opened #354 "Invalid JWT Token"
Hi,

I'm facing a problem with your bundle.
I have two providers `customer` and `provider` and use two different endpoint to login.
I have two firewalls one for `customer` and the other for `provider`

The problem I have is that I can't use JWT token. I have a `Invalid JWT Token` error.
I think the problem comes with Symfony 3.3, not sure.

Here is my `security.yml`:

[code]

I can obtain a token

[2017-06-23 13:32] Walkoss commented on #354
Ok, I found the problem.
`parameters.yml` had a bad path to public key.

[code]

[2017-06-23 14:09] chalasr commented on #354
The response should have been clear about that then. Reopening, will try to reproduce on my side.

[2017-06-26 04:02] antonmedv opened #355 "digital envelope routines:EVP_DecryptFinal_ex:bad decrypt"
Hi,

After creating pub/priv pub files with command from README.md and running chekc command got this:

[code]

[2017-06-26 04:03] antonmedv commented on #355
What am I going wrong? :)

[2017-06-26 05:31] Spomky commented on #355
It looks like your private key is encrypted. [Save it unencrypted](https://techjourney.net/how-to-decrypt-an-enrypted-ssl-rsa-private-key-pem-key/) and try again

[2017-06-28 05:02] pbalan commented on #292
Hi,
I have a similar problem. When I am running Apache server, I dont get Authentication header as documented; and I switched to symfony's PHP server 127.0.0.1:8000

When I make a POST query to my API (which is not under api root), cause i am unable to configure it for some reason. http://127.0.0.1:8000/app_dev.php/friend/add
friend_follower:
    resource: "@FriendFollowerBundle/Controller/"
    t

[2017-06-28 21:44] #345 closed

[2017-06-29 09:45] pbalan commented on #292
@chalasr I successfully got my firewall configured and now routing through api firewall. I have a question that when I send the jwt token in the Authorization header, I dont receive a preauthentication token in JWTTokenAuthenticator.php on line 100.

var_dump looks like:

    object(Lexik\Bundle\JWTAuthenticationBundle\Security\Authentication\Token\PreAuthenticationJWTUserToken)#569 (8) {
      ["

[2017-06-29 09:51] pbalan opened #357 "Sent JWT token does not give back user in controller."
Hi,

I receive anonymous user when I try finding the user in controller via:
$user = $this->get('security.token_storage')->getToken()->getUser();

**config.yml**

    lexik_jwt_authentication:
        private_key_path: '%kernel.root_dir%/../var/jwt/private.pem'
        public_key_path: '%kernel.root_dir%/../var/jwt/public.pem'
        pass_phrase: 'example'

**security.yml**

[code]

I have a ques

[2017-06-29 09:56] pbalan commented on #343
@jmogilner Have the same issue. Can you share your configuration and do you make any changes on your entity side? Also, how do you try get user in controller?

[2017-06-29 11:42] chalasr commented on #343
Could one of you provide a reproducer (e.g. forking the symfony/symfony-standard and make the code changes that are necessary to reproduce)? That would be best.

[2017-06-29 12:08] pbalan commented on #343
@chalasr, I fixed my issue. Great Bundle!!
The fix was simple. I had to use the following two lines in my controller to fetch the user.

[code]

[2017-06-29 12:25] pbalan commented on #357
Use the following two lines in my controller to fetch the user, if someone else has the same issue.

[code]

[2017-06-29 12:25] #357 closed

[2017-06-29 12:45] chalasr commented on #343
@pbalan good to hear.

I must say that calling authenticators from a controller is not sane. There are built-in mechanisms for securing your symfony application, the bundle's docs show how to leverage it.

Authorizing/authenticating is not the role of your controllers at all, doing so will likely produce such weird issues as it probably won't have the full logic of the security system such as toke

[2017-06-29 12:45] #343 closed

[2017-06-29 18:30] SahnounM91 opened #358 "Bad credential"
I started configure the bundle and I know that this error was posted by many people but when I test it with the curl command :

the result is :

I've read all the issues related to this error but nothing work for me :/
this is my config.yml file

[code]

this is the security.yml file :

[code]

I'm using the bundle with fosUserBundle as user provider.
can any one help please ?

[2017-06-29 19:15] wraycode opened #359 "curl gets 404 error"
where do I specify the port? I can't test with php server because curl and guzzle timeout and under apache I get a 404 not found when trying to access the routes?

[2017-06-29 19:18] chalasr commented on #359
The uri on which your symfony application is served doesn't concern this bundle at all, same for your webserver configuration.

[2017-06-29 19:22] wraycode commented on #359
it does not make sense that
curl -X POST http://localhost:8000/api/login_check  works
but
curl -X POST http://localhost/api/login_check returns 404

also just ran compser update got this

  - Updating lexik/jwt-authentication-bundle (v2.4.0 => v2.4.1):     Update failed (Could not delete /var/www/html/cg-open-api/vendor/lexik/jwt-authentication-bundle/UPGRADE.md: )
    Would you like to try reinst

[2017-06-29 19:34] wraycode commented on #359
maybe a permissions issue

[2017-06-29 19:40] wraycode commented on #359
fixed permission on cache but still curl get 404 not found

[2017-06-29 19:41] wraycode commented on #359
my route is
 api_login_check:
    path: /api/login_check

works fine under php server but not apache

[2017-06-29 19:44] chalasr commented on #359
Then your webserver is misconfigured or you have a cache issue. You will find all you need on the internet (e.g. http://symfony.com/doc/current/setup/web_server_configuration.html, http://stackoverflow.com), this is totally unrelated to this bundle, we can't help on that.
Thanks for your understanding

[2017-06-29 19:44] #359 closed

[2017-06-29 19:47] wraycode commented on #359
why does you example only show curling to the php server?

[2017-06-29 19:48] wraycode commented on #359
no response on stack
https://stackoverflow.com/questions/44831379/sending-jwt-authorization-guzzle

[2017-06-29 19:52] chalasr commented on #359
That's an example which makes use of the PHP built-in server, which runs it on the port 8000 using `bin/console server:run` on a symfony standard edition, you should have a look at the command itself (which is a symfony one, not provided by this bundle). If `/login_check` returns 404, I guess any all other urls of your application won't work, hence closing this issue as unrelated. Again, this bund

[2017-06-29 19:54] chalasr commented on #355
Closing as solved, that's a key generation issue. Thanks @Spomky for helping out.

[2017-06-29 19:54] #355 closed

[2017-06-29 19:54] wraycode opened #360 "curl login_check 404 all other routes work"
trying curl -X POST http:/localhostl/api/login_check -d _username=test@email.com -d _password=test

[2017-06-29 19:55] chalasr commented on #360
Please do not open a new issue. Clear your production cache `rm -rf var/cache` and try again, this is not a bug.

[2017-06-29 19:55] #360 closed

[2017-06-29 19:56] wraycode commented on #360
thanks you it was a cache issue

[2017-06-29 20:21] JuliusKoronci opened #361 "Support for Nelmio API Doc"
Since I am using the auth bundle with swagger..wondering if there is an easy way to get the login route into the api doc? Thanks

[2017-06-29 20:24] JuliusKoronci commented on #361
I found it in a closed issue..sorry for spamming..

[2017-06-29 20:24] #361 closed

[2017-06-30 12:14] #351 closed

[2017-06-30 12:36] chalasr commented on #351
Fixed by @Spomky in #352, will be part of the next minor

[2017-07-03 11:16] SahnounM91 commented on #358
problem solved ! just make fos_userbundle as first provider to check credentials from database

[code]

[2017-07-03 13:27] chalasr commented on #358
@SahnounM91 note that you can specify which provider should be used in the firewall instead of relying on the order. Here:

[code]

Or create [a chain provider](http://symfony.com/doc/current/security/multiple_user_providers.html) to make the firewall gives a try to both `in_memory` and `fos_userbundle` providers.

[2017-07-03 21:24] SahnounM91 commented on #358
Thanks @chalasr  for your comment :) after that I need some explanation about how to play with the token generated and where the store it ! and every time I send a request from a client app should I compare the token in the request with token saved before ?

[2017-07-03 22:20] chalasr commented on #358
You don't need to validate anything, the bundle does it every time you send a request on a route that is under `api` firewall.
About how to store JWTs client-side, we recommend using cookies. Have a look at https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage#where-to-store-your-jwts

[2017-07-03 22:35] SahnounM91 commented on #358
Thanks for the quick reply @chalasr , is there any documentation or explanation about how to integrate your lexikJWT with an Ldap bundle like [FR3dLdapBundle](https://github.com/Maks3w/FR3DLdapBundle) ?

[2017-07-03 22:48] chalasr commented on #358
We can't provide integrations for such bundles in the docs as it would be endless. Looking at the readme of the linked bundle, I think you just need to set `provider: fr3d_ldapbundle` on your `api` and `login` firewalls to make users loaded through ldap.

I can't say more, you should use stackoverflow for support :)

[2017-07-03 22:48] #358 closed

[2017-07-07 17:35] becauseinterwebs opened #362 "How to change format of token response?"
Hi,

I need to be able to change the format of the response when a token is created.  I have tried through event handlers but it is not working.  Currently the format defaults to:

{ "token" : "generatedtokenhere...." }

and I need to change it to something like:

{ "code" : 200,
   "payload" : {
      "token" : "generatedtokenhere..."
   }
}

Is there a way to do that?  Thank you!

[2017-07-08 10:34] chalasr commented on #362
Hi, did you tried https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/2-data-customization.md#eventsauthentication_success---adding-public-data-to-the-jwt-response?

[2017-07-08 14:51] becauseinterwebs commented on #362
Yes but that's not what I need.  I need to change the format of the JSON response when a token is created.  I am already using that to add some data to the response, but in my application all JSON response need to start with { "code" : <the numerical response code> } and the default response starts with { "token" : <the token> } and you can't seem to modify that format.  I need to add the code fie

[2017-07-08 15:17] chalasr commented on #362
Listener registration:
[code]

Listener code:
[code]

Result:
[code]

Isn't this what you are looking for?

[2017-07-08 16:38] eskrano opened #364 "Database user provider can't get user entity"
Hi all. i install fresh symfony 3 and install jwt auth bundle.
Make like this project https://github.com/chalasr/lexik-jwt-authentication-sandbox but when i make request to /api with my token i see this http://prntscr.com/ft7nlk .
P.S. Registration and login_check work's fine, i cant get user .

API security.yml
[code]

[2017-07-08 16:44] becauseinterwebs commented on #362
That does not work for me :(  I actually already had this listener setup, but copied this code directly and still get just a { "token" : <token> } response.  Looking at the AuthenticationSuccessEvent class it has a getResponse() method but not a setResponse(), which is where I think you would set this.

My composer.json has "lexik/jwt-authentication-bundle": "~2.0"

[2017-07-09 10:29] chalasr commented on #362
I did try the code I given and the result is the one I pasted, no need for a `setResponse()`, `setData()` is enough. I pushed the working example at https://github.com/chalasr/lexik-jwt-authentication-sandbox/tree/customize-response-body, either there is something wrong in the way you're using the bundle (so that the event is not dispatched, e.g. if you don't use the jwt guard authenticator in you

[2017-07-09 10:33] chalasr commented on #364
You should remove the `lexik_jwt: ~` entry, that's the legacy way of using this bundle. Only guard is needed. Let me know if it still doesn't work as expected.

[2017-07-09 16:41] becauseinterwebs commented on #362
Ok thank you I will take a look at the example.

I did confirm the event is being called by writing to a log file and the even is definitely firing.  I will double check the configuration and will let you know.  I appreciate your help!

[2017-07-09 16:59] becauseinterwebs commented on #362
Ok, a little closer.  Here is my entry in services.yml:

[code]

And the code:

[code]

And this is the output I get (I've stripped out the token so save space):

[code]

Previously I had a check of the user object in the event and it was not validating as an instance of UserInterface so was returning before modifying the response.  I removed it (not really needed at this point) and now it is just

[2017-07-09 21:18] eskrano commented on #364
@chalasr thank you man! rep+

[2017-07-09 21:21] #364 closed

[2017-07-10 10:08] chalasr commented on #362
Could you run `composer show lexik/jwt-authentication-bundle` to get the installed version and give us the result?

[2017-07-11 15:31] becauseinterwebs commented on #362
[code]

[2017-07-11 15:32] becauseinterwebs commented on #362
Ok just realized I am not on the latest version (thought I was.)  Let me upgrade and try again!

[2017-07-11 15:40] becauseinterwebs commented on #362
Ok that works!  Thank you!  I'm sorry...I thought I WAS on the latest version :/  Closing the issue.

[2017-07-11 15:40] #362 closed

[2017-07-14 09:13] med004 opened #365 "Catchable Fatal Error: Argument 1 passed to Lexik\Bundle\JWTAuthenticationBundle\Services\JWTManager::create()"
Hello,
I have this error when I use JWTAuthenticationBundle for generate token:

code controller:

`<?php

	namespace MedBundle\Controller;

	use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;
	use Symfony\Component\HttpFoundation\Request;
	use Symfony\Bundle\FrameworkBundle\Controller\Controller;
	use FOS\RestBundle\Controller\Annotations\RouteResource;
	use Symfony\Component\HttpFoundat

[2017-07-14 09:42] norkunas commented on #365
As errors says it expects instanceof `Symfony\Component\Security\Core\User\UserInterface` so your `MedBundle:Med` entity must implement that interface.

[2017-07-14 10:18] med004 commented on #365
with this code :

`<?php

namespace MedBundle\Controller;

use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Bundle\FrameworkBundle\Controller\Controller;
use FOS\RestBundle\Controller\Annotations\RouteResource;
use Symfony\Component\HttpFoundation\JsonResponse;
use FOS\RestBundle\View\ViewHandler;
use FOS\RestBundle\View\View;
us

[2017-07-14 10:44] norkunas commented on #365
I said that your entity `MedBundle:Med` must implement `Symfony\Component\Security\Core\User\UserInterface` not the `ApiController` :)

[2017-07-14 10:52] med004 commented on #365
now when I implement interface in entity:

code entity:

`<?php

        namespace MedBundle\Entity;

        use Doctrine\ORM\Mapping as ORM;
        use Symfony\Component\Security\Core\User\UserInterface;

        /**
         * Med
         *
         * @ORM\Table(name="med")
         * @ORM\Entity(repositoryClass="MedBundle\Repository\MedRepository")
         */
        class Med implements Us

[2017-07-14 11:29] norkunas commented on #365
So implement the remaining methods :)

[2017-07-14 11:45] chalasr commented on #365
Closing as this is a Symfony support issue, should be asked on a Symfony [support platform](https://symfony.com/support) instead. Thanks for your understanding.

[2017-07-14 11:45] #365 closed

[2017-07-14 12:39] med004 commented on #365
thanks for help

[2017-07-14 13:04] med004 opened #366 "Private key "/var/www/html/authenti/app/var/jwt/private.pem" does not exist or is not readable"
Hello ,
I have this error when I generate token :+1:

code config.yml:

`imports:
        - { resource: parameters.yml }
        - { resource: security.yml }
        - { resource: services.yml }
        - { resource: "@MedBundle/Resources/config/services.yml" }

    # Put parameters here that don't need to change on each machine where the app is deployed
    # https://symfony.com/doc/current/best_

[2017-07-14 13:23] chalasr commented on #366
did you generate your keys as shown in the doc? https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/index.md#installation

[2017-07-14 13:24] med004 commented on #366
yes I generate my keys

[2017-07-14 13:26] chalasr commented on #366
then please paste the content of `/var/www/html/authenti/app/var/jwt/public.pem`

[2017-07-14 13:33] med004 commented on #366
-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAydPKCy+2W4nRMECk/Va/
WTQC6KCVVwUfAvXygQvODDm5qFObJ2zgJE+ulUbqoDAnV/RUKV6Zmb18UTcab2Gz
xu/LK2y5iVr1AZz/E6/KsYf9Ws2QNSmAeXINArqfuwX/IgtD/YcJwhlhflD1VbF6
wTmimpz1x0roVgGaWK9ZVHPEL8fc0uGtKlCkFOmWlGKVnSROeM0Ypu3vsev8afMu
2CIb/b5Ihql9D0uYej9pCqhefBKnIhLjADTVkeMEyPW4FlDdQSBUJqYmaVeqjmrJ
JP1VCsNgy17IFu3EVqqM+XIqYkRd9VBDk6yRk8IIya7whB3e

[2017-07-14 13:36] chalasr commented on #366
Keys (at least the private one) seem to not be readable by your application. Please check your permissions, try a simple `file_get_contents` of the path and fix it accordingly. This is not a bug, but a support issue

[2017-07-14 13:41] med004 commented on #366
with commande ls-l have this response:

-rwxrwxrwx 1 root root  800  14 13:56 public.pem

[2017-07-14 14:00] med004 commented on #366
how to use file_get_contents !! in controller ??

[2017-07-14 14:19] chalasr commented on #366
I'm sorry but I won't be able to help here, there is a problem is your setup. My guess is that you did generate the keys in `/var/www/html/authenti/var/jwt/*.pem` but that you're trying to load them from `/var/www/html/authenti/app/var/jwt/*.pem` (extra `app/`), or the inverse. If your issue persists, please try to install https://github.com/chalasr/lexik-jwt-authentication-sandbox to see if it wo

[2017-07-14 15:35] med004 commented on #366
thanks men I resolve Bug

[2017-07-14 17:14] #366 closed

[2017-07-15 03:07] omar331 commented on #34
I was struggling with the same issue for hours. I realized I didn't setup apache virtual host correctly. So I added

[code]
and it worked fine.

https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/index.md#configuration

[2017-07-18 13:39] silverbackdan opened #367 "After token removal, an empty login form will get a new token"
I'm struggling to work out the culprit, but I am also using gesdinet/jwt-refresh-token-bundle

I have a problem where I login (using FOSUserBundle as a provider as well although it doesn't matter if I use the entity users or the in memory users). I then logout and remove the token.

If I enter new (valid or invalid) information into my login field again, then the authentication process is as expec

[2017-07-18 13:57] silverbackdan commented on #367
:see_no_evil: my mistake, login info still being sent from front-end - can't believe I missed it!

[2017-07-18 13:57] #367 closed

[2017-07-20 11:34] JarJak commented on #307
Any news on supporting HS256?

[2017-07-21 13:39] med004 opened #368 "add token in requests"
Hello, how to add token in any request send by user ,with LexikJWTAuthenticationBundle after authentification how to add token to any request ?? thanks

[2017-07-23 15:40] med004 commented on #368
Help me please

[2017-07-25 14:04] memm74 commented on #86
nicolaskern, thank you, I had the same problem.

[2017-07-26 21:32] chalasr commented on #368
Hello, sorry for the delay. I'm not sure to understand your issue. You mean putting the token in the response of any request? What is your use case, an endpoint that delivers accesses on demand?

[2017-07-27 10:48] med004 commented on #368
this is my code:

security.yml:

`security:
            encoders:
                FOS\UserBundle\Model\UserInterface: bcrypt

            role_hierarchy:
                ROLE_ADMIN:       ROLE_USER
                ROLE_SUPER_ADMIN: ROLE_ADMIN

            providers:
                fos_userbundle:
                    id: fos_user.user_provider.username

            firewalls:
                dev:

[2017-07-27 12:57] chalasr commented on #368
This is a support issue around the javascript tools used for manipulating JWTs in frontend apps, nothing we can do here. I suggest to ask this as a stackoverflow question using the [`lexikjwtauthbundle` tag](https://stackoverflow.com/questions/tagged/lexikjwtauthbundle) or go on the [symfony slack](https://symfony.com/slack-invite) support channel.
Thanks.

[2017-07-27 12:57] #368 closed

[2017-07-27 13:39] med004 commented on #368
okey but why do you inject token in any request with jwtauthentificationBundle ?

[2017-07-29 14:02] chalasr commented on #307
In progress in #369

[2017-07-29 17:52] identiq commented on #66
Install FOSRestBundle and force json

`fos_rest:
    param_fetcher_listener: true
    view:
        mime_types:
            json: ['application/json', 'application/json;version=1.0', 'application/json;version=1.1', 'application/json;version=1.2']
        view_response_listener: 'force'
        formats:
            xml:  true
            json: true
        templating_formats:
            html: true

[2017-07-31 10:23] vpassapera opened #370 "Getting 500 instead of expected 401 when testing for no token passed"
The firewalls work as expected, except for returning an incorrect status code.
When I pass in an authorization header with empty value, or no auth header at all, i get a 500 error instead of the expected 401.

Could I be doing something incorrectly?

My configuration:

Controller:
[code]

security
[code]

config:
[code]

apache:
[code]

[2017-07-31 11:41] chalasr commented on #370
I'm unable to reproduce (getting 401 responses for all mentioned cases), the cause is probably not this bundle. It might come from your webserver, you could confirm that by trying with a php built in server to confirm the issue doesn't happen (`bin/console server:run`). If you don't think so, please provide a reproducer.

[2017-07-31 11:42] kenyramses commented on #66
hello  guys,
i have a question i trying to understand how to implement symfony with LexikJWTAuthenticationBundle
i have a 401 bad credential
i followed steps described here and on the project github
Should i write some logic on controllers for generating the token? i didn't see that step on doc?
thx for help?

[2017-07-31 11:45] chalasr commented on #66
@kenyramses I suggest you to ask this on stackoverflow, comments on closed issues aren't tracked.

No, generating the token only requires configuration.
By default, an `_username` and `_password` request parameters are expected.

[2017-07-31 12:12] kenyramses commented on #66
Thank you Robin

2017-07-31 13:45 GMT+02:00 Robin Chalas <notifications@github.com>:

[2017-07-31 12:24] kenyramses commented on #66
Please if you've allready use the bundle with symfony, i would like to have
an example if possible

Any github link or source

thx :)

2017-07-31 14:12 GMT+02:00 Ramesses Bonhof KENY <kenyramses@gmail.com>:

[2017-07-31 12:25] chalasr commented on #66
See https://github.com/chalasr/lexik-jwt-authentication-sandbox

Robin CHALAS
Développeur PHP/Symfony - @chalasr <https://github.com/chalasr>
E-mail : robin.chalas@elao.com - Site internet : http://www.elao.com
Paris / Lyon / Montpellier - Tel : +33 (0)4 82 53 37 19

Le 31 juillet 2017 à 14:24:07, KENY RAMESSES BONHOF (
notifications@github.com) a écrit:

[2017-08-01 08:17] vpassapera commented on #370
No, it's not an apache problem.

I'm debugging this further, but I know it's not apache because when i do this:

[code]

I get the appropriate 401 response.

Same when I do:

[code]

I get:
[code]

Which is correct. But with this bundle I keep getting 500.

I will see what I find out.

[2017-08-01 08:20] chalasr commented on #370
Forking https://github.com/chalasr/lexik-jwt-authentication-sandbox is a good option for reproducing. I'm wondering if it's not just `FOSRestBundle` that automatically catch exceptions to convert them into 500 responses, and you need to map them one by one with the appropriated code  to fix that. Maybe try to disable FOSRest temporarily and see how it goes?

[2017-08-01 08:25] chalasr commented on #370
I mean disabling http://symfony.com/doc/master/bundles/FOSRestBundle/4-exception-controller-support.html

[2017-08-01 08:37] vpassapera commented on #370
Thanks for the quick response!

I did use your sandbox as a starting point.

Stepping through using PHPStorm I see that the response actually arrives at the front controller with the right status code and the proper content (e.g. 401 Unauthorized) but somewhere after it does response->send() it gets converted to a 500 exception.

If FOSRest was causing the issue then I should see the same problem

[2017-08-01 08:40] vpassapera commented on #370
Config is now:

[code]

Still seeing same issue :(

[2017-08-01 08:43] chalasr commented on #370
I won't be able to help without a standalone reproducer (copy pasting your config on a fresh install would just not work). Please fork the sandbox to reproduce so we can investigate what happens. Thanks

[2017-08-01 08:45] vpassapera commented on #370
Ok. I have a feeling the problem is with my configuration somewhere as you said. I will debug further and if I can't find anything obvious I will go ahead and do as you have suggested.

Thank you!

[2017-08-01 10:23] vpassapera commented on #370
@chalasr It is indeed apache. running from the php webserver using the webserverbundle returns the proper header.

Does anything in my vhost seem incorrect?

Or would it be something on fpm?

Any guidance would be greatly appreciated.

Thank you.

[2017-08-01 10:58] vpassapera commented on #370
My entire vhost (I removed the .htaccess file in web/)

[code]

[2017-08-01 11:02] vpassapera commented on #370
I also noticed that this doesn't happen when the front controller is app.php. It only happens in app_dev.php.

[2017-08-02 19:20] RenierLewis opened #371 "Sensio Insights Recommendations"
Hi Team

I did a Sensio Insights code scan on the code.

It recommended the following recommendations:

1. Unused method, property, variable or parameter
MinorDeadcode
in Response/JWTAuthenticationSuccessResponse.php, line 23
    private $token;
This token attribute is declared but never used. You should remove it.

2. Deprecated class usage found
in DependencyInjection/Security/Factory/JWTFactory

[2017-08-02 22:48] maximebourdel opened #372 "Trying to catch entered password for an API call"
Hello,

I installed LexikJWTAuthenticationBundle and everything is ok thank you for the tool

Now I would like to change my provider and make the check from an external API.

the workflow would be the following :

- user logging in with his user/pass with a form
- provider checking the username and password with a post html request thanks to the API
- if API returns ok we accept the login and gene

[2017-08-04 12:56] chalasr commented on #371
Hello @RenierLewis, thanks for taking care of opening this issue.

👍  for removing that unused property.

It is used as fallback when the replacement does not exist yet, which can happen because this bundle supports several symfony versions. So we must keep this one as is.

PR is welcome :)

[2017-08-05 09:34] imsheng opened #373 "curl -d in sandbox"
Curl Command Line:
`curl -X "POST" -d "{\"_format\":\"json\"}" -H "Content-type:\ application/json" -H "Accept:\ application/json" /api/v1/login_check?username=lksdj&password=sdfsf`

but i want to
``curl -X "POST" -d "{\"_format\":\"json\"}" -H "Content-type:\ application/json" -H "Accept:\ application/json" /api/v1/login_check -d username=lksdj -d password=sdfsf``

split the parameters
`curl url

[2017-08-05 09:42] #373 closed

[2017-08-06 09:43] maximebourdel commented on #372
![explanation](https://user-images.githubusercontent.com/6354045/29002153-692217c6-7a9c-11e7-9f69-7f912f9d4e87.png)
it would look like something like thing the problem is i don't know  how to catch that password for a test on my OTHER website

[2017-08-08 15:12] kix commented on #361
@JuliusKoronci, I have the same issue, could you share a link to the issue you've found?

[2017-08-08 17:22] JuliusKoronci commented on #361
@kix I don't remember but you can check my repo..it should be there https://github.com/JuliusKoronci/Symfony-React-CI/tree/master/symfony-app

[2017-08-09 14:31] RonRademaker opened #374 "Anonymous API calls"
Hi,

Parts of my API must be accessible to anonymous users, so I added `anonymous: true` to the api firewall:

[code]

But when I call without a token, I get `{"code":401,"message":"JWT Token not found"}`. What am I missing here?

[2017-08-10 09:52] chalasr commented on #374
Hey, your issue is probably related to access controls which should allow being anonymously authenticated e.g:

[code]

[2017-08-10 10:29] sensorario opened #375 "let token to expire after midnight"
Is there a configuration that force jwt token expiration after midnight?

[2017-08-11 11:32] maximebourdel commented on #372
I found a solution to catch password,

i had to edit "create" method for Lexik\Bundle\JWTAuthenticationBundle\Services\JWTManager

and add this line  ,'password' => $user->getPassword()

so my provider now has its password in payloads.

`
    public function create(UserInterface $user)
    {
        $payload = [
            'roles' => $user->getRoles()
            ,'password' => $user->getPassword

[2017-08-11 12:29] chalasr commented on #372
Hi @maximebourdel, apologies for my late answer. I would suggest to write your own FormLoginAuthenticator, you should find inspiration in https://knpuniversity.com/screencast/guard/login-form.
Idea is that your custom user provider needs to be aware of username and password, which is not the most common, so you need some custom form login. Guard is the simplest approach for achieving this, and see

[2017-08-11 12:49] maximebourdel commented on #372
Hi @chalasr, thank you for the answer,
I will try to implement it tomorrow :)
But, does that mean i do not need to use LexikJWT ?
Will i still have a token system with this solution ?

[2017-08-11 13:01] chalasr commented on #372
Sure, I mean that instead of using the traditional built-in symfony `form_login`, you need to write some custom logic. Do not hesitate to ask here if you have any doubt when implementing, I'll try to be more reactive.

[2017-08-11 13:47] maximebourdel commented on #372
Aheum,
Sorry but I asked two questions so I did not understand what you meant by "sure".

What I understand is that i will have to create my own logic with form_login but do i have to uninstall lexik ?

Another thing i did not said is that my own bundle has its own entities.
These entities return json thanks to FOSRestBundle.
I made a route called /api and i want this route to be only reachable by

[2017-08-11 17:09] RonRademaker commented on #374
Hi, thanks for the quick response. I checked the access_controls, but that's not the issue unfortunately.

[2017-08-12 07:19] chalasr commented on #374
I just tried on our sandbox and it works as expected with anonymous listener enabled and proper access_controls. Could you try it and maybe fork it with the changes necessary to reproduce your issue? Usage:

[code]

[2017-08-13 12:06] maximebourdel commented on #372
hum, it seems KnpUGuardBundle is requiered and it is deprecated since 2.8 and i use 3.2 for my project.
can i replace some parts of the tutorial with that part i saw in your git ?
https://github.com/lexik/LexikJWTAuthenticationBundle/blob/8386bd1b83e75aef497e024219ee24978db527d6/Resources/doc/6-extending-jwt-authenticator.md
It looks very similar.

[2017-08-14 14:20] RonRademaker commented on #374
I found the problem, but not yet the solution.

I have

[code]

in my security settings, and it looks like that doesn't play nicely with the anonymous api access.

[2017-08-14 17:43] pdoreau opened #376 "Using id field instead of username for finding users in database"
I don't use any username. User login is made by email / password. Email can change so it's not suitable to store it in the JWT token as the identifying field.
User id seems to be the only field I can rely on for both JWT payload identitfying field and for the lookup in database.
How can I configure the bundle to do it ?

[2017-08-14 20:25] maximebourdel commented on #372
Hi @chalasr

I made a project apart in symfony 2.8 and managed to create my authentication with this exemple.
But now i would like to move it to my symfony 3.2 initial project.

It looks like after checkCredentials method,
KnpU\Guard\Authenticator\AbstractFormLoginAuthenticator is called
and this is the part i would like to replace.

Do you know how i could replace that call ?

Thank you in advanc

[2017-08-15 07:22] RonRademaker commented on #374
If I define my anonymous routes explicit in the access_controls, it does work:

Works:

[code]

Does not work:

[code]

[2017-08-18 14:35] jolleychris opened #378 "Configure a different key pair per firewall guard"
Hi
Thank you for this excellent bundle!
I would like to use a different .pem key pair for each firewall authenticator. It seems that this is not trivial, or at least, I can not see what changes I would need to make to the bundle in order to achieve this. Is there a means to do it, or how could it best be approached?

At a high level, with changes to the extension config and loader I could read an

[2017-08-23 08:40] zongdesign opened #379 "Events::AUTHENTICATION_FAILURE - Customizing the failure response body"
Hello
How change response:
from
{
    "code": 401,
    "message": "Bad credentials"
}
to
{
    "data": [],
    "error": 401,
    "error_message": ''Authorization failed"
}

If I use this doc https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/2-data-customization.md#eventsauthentication_failure---customizing-the-failure-response-body
I can add just some fields into mess

[2017-08-23 09:40] wrrzag88 opened #380 "[Question] Mark as invalid on JWT_CREATED event"
Hello,

I have many frontends, each one with a different url, and a single backend which serves data from a database to the frontends.

What i'm trying to do is avoid user's from **frontendA** can login into **frontendB**.
I'm using JWT_CREATED event to capture the request and check if the frontend url is the correct one.

Once I detect that the user can not login into this instance of the fronten

[2017-08-23 11:35] chalasr commented on #378
Hey @jolleychris,

I'm pleased to read that, thanks for using this bundle.
That's an interesting use case, which is not supported at all currently since the guard authenticator is not aware of the key pair, it is only aware of the encoder which itself is keypair bound.

Right now, achieving this on your side would require to write some PHP code, not doable through config. Since I see several ways,

[2017-08-23 12:05] wrrzag88 commented on #380
Solved. AUTHENTICATION_SUCCESS event fits on my needs.
Thanks for the awesome work!

[2017-08-23 12:05] #380 closed

[2017-09-01 10:19] akomm opened #382 "Question: Database-less user: initial token creation..."
This documentations explains everything, but as soon as it comes to how you actually initially create a token from a given source, e. G. database, it just makes a cut.

I understand JWT and I wanted to go the db-less way. Your db-less provider part is clear. From my sy security understand I have an idea how I could create the token: Just use an entity provider for the login firewall and the JWT pr

[2017-09-01 12:42] akomm commented on #375
https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/2-data-customization.md#example-override-token-expiration-date-calculation-to-be-more-flexible

[2017-09-01 17:01] sensorario commented on #375
Uh sorry, fixed. I forgot to close the issue.

[2017-09-01 17:01] #375 closed

[2017-09-05 22:43] eivanphils commented on #86
Thank you @nicolaskern

[2017-09-06 10:38] raziel057 opened #384 "Firewall with support of JWT and Digest authentication"
I would like to be able to configure a Firewall on route ``/api`` which allow authentication by JWT and Digest Authentication (a bit like in that example: https://symfony.com/doc/current/security/multiple_user_providers.html).

When I define the Firewall like this I got an error: Type error: Argument 4 passed to Symfony\Component\Security\Http\Firewall\DigestAuthenticationListener::__construct() m

[2017-09-06 11:42] chalasr commented on #384
Hi. I can't reproduce your issue. Could you provide your full `security.yml` (replacing sensitive data by dummies if any)?

[2017-09-06 12:08] raziel057 commented on #384
Yes for sure:

[code]

[2017-09-06 12:23] raziel057 commented on #384
Note that:
- when I remove ``guard`` I can authenticate with Digest Authentication.
- when I remove ``http_digest`` I can authenticate with JWT Authentication.

But when both are present I have the issue.

[2017-09-06 12:24] chalasr commented on #384
Could you please paste the full error stack trace?

[2017-09-06 12:26] raziel057 commented on #384
FatalThrowableError

Type error: Argument 4 passed to Symfony\Component\Security\Http\Firewall\DigestAuthenticationListener::__construct() must be an instance of Symfony\Component\Security\Http\EntryPoint\DigestAuthenticationEntryPoint, instance of Lexik\Bundle\JWTAuthenticationBundle\Security\Guard\JWTTokenAuthenticator given, called in /home/lallement/workspace-vdl/avtax-api-platform/var/cache/d

[2017-09-06 12:32] abdeljabbar commented on #384
i think you got to put multiple_user_providers
see this https://symfony.com/doc/current/security/multiple_user_providers.html

[2017-09-06 13:04] raziel057 commented on #384
The problem comes from the fact ``$defaultEntryPoint`` is set to ``security.authentication.provider.jwt.api``  in ``JWTFactory``.

In ``HttpDigestFactory::createEntryPoint``, if ``$defaultEntryPoint`` is not null this entry_point is used.

If I comment the following lines in ``HttpDigestFactory::createEntryPoint`` it works as expected:
[code]

[2017-09-06 13:05] chalasr commented on #384
I can't reproduce your issue, your configuration runs fine on my side. It feels like a cache issue.
Did you clear your cache (by hand `rm -rf var/cache/*`)?
If it doesn't help, please tell me your symfony version.

[2017-09-06 13:07] chalasr commented on #384
`JWTFactory` should not be called at all here (it has been deprecated and is wired only if you have `lexik_jwt: ~` as key in your firewall). Which version of the bundle are you using?

[2017-09-06 14:20] raziel057 commented on #384
I use the last stable (from my composer.lock):
"name": "lexik/jwt-authentication-bundle",
"version": "v2.4.1",

[2017-09-06 14:34] chalasr commented on #384
Ok I'm able to reproduce the problem, I expected the exception to occur earlier (at compile time, while it occurs only when actually hitting a route that matches the JWT/Digest firewall).
It looks like a symfony bug but I need to confirm that, fortunately I'm maintainer on the symfony security component and bundle.
I will look into this evening and come back.

[2017-09-06 14:54] raziel057 commented on #384
Thank you very much, it's greatly appreciated.

[2017-09-06 19:39] chalasr commented on #382
First, thank you very much for your feedback.

Your use case is interesting. Actually, I think I would solve it the same you did it, even if I don't know the details of your implementation (did you finally stop extending JWTUser? If yes, could you tell me why?).

The JWTUserProvider is a very recent feature. I must admit that I did not implement it from scratch with concrete enough use case yet, I

[2017-09-07 11:23] habibun opened #385 "/api/login_check is not working in browser"
/api/login_check is not working in browser, but it works in postman and cli.

[2017-09-07 13:38] akomm commented on #382
No provider configuration: [Configuration](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/b398d6404b8ce4e62e0326612026e53aadf28d6e/Resources/doc/index.md#configuration)
Followed by: [Usage](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/b398d6404b8ce4e62e0326612026e53aadf28d6e/Resources/doc/index.md#usage)

Configuration lacks any note about provider, which is required for

[2017-09-07 14:27] korsmakolnikov opened #386 "It is possible to use with ODM?"
I'm trying to use the bundle directly passing doctrine_odm,
but got an AuthenticationFailureEvent with this error `Doctrine ORM Manager named "doctrine_mongodb" does not exist`.

Actually it is possible to use it with odm?

[2017-09-07 17:42] chalasr commented on #385
Not a bug (see https://github.com/chalasr/lexik-jwt-authentication-sandbox/issues/6).

[2017-09-07 17:42] #385 closed

[2017-09-07 17:44] chalasr commented on #386
This bundle does not depend on doctrine, so if you did configure an user provider able to load the user through the ODM, it should work. I think you are trying to use an `entity` provider while you should use a `mongodb` one (see http://symfony.com/doc/3.1/bundles/DoctrineMongoDBBundle/index.html#securitybundle-integration).

[2017-09-07 17:52] habibun opened #387 "/api/login_check is not working from browser"
/api/login_check is not working in browser, but it works in postman and cli.

[2017-09-07 17:57] chalasr commented on #387
Postman/CLI and your browser are just using different HTTP clients. This does not make sense.
Search what's change between the requests sent from your browser and the ones from your cli/postman, any difference would be the bottleneck.
Please do not reopen, this does not make sense. Use stackoverflow for such issues.

[2017-09-07 17:57] #387 closed

[2017-09-08 07:04] raziel057 commented on #384
@chalasr Do you had time to check what is wrong here? I seen you implemented a PR in Symfony to improve exception when an undefined user provider is used inside a firewall (https://github.com/symfony/symfony/pull/24114). Is it directly related to this issue?

[2017-09-08 07:50] chalasr commented on #384
It is not related. I looked at this, and there is indeed a bug in symfony/symfony. We need to not use the default provider if it is not an instance of `DigestAuthenticationEntryPoint`, I'm going to propose a fix today. Keep you informed there.

[2017-09-08 09:38] raziel057 commented on #384
Thanks!

[2017-09-12 07:41] raziel057 commented on #384
@chalasr I created a PR in Symfony to fix this issue.

[2017-09-12 19:26] juliusstoerrle opened #388 "Send Token Headless"
Hey,

is there a config option allowing to send (and validate) a headless token?

Maybe i just didn't look hard enough in the docs, but even the search could find something.
Thanks for your reply in advance!

[2017-09-14 11:19] chalasr commented on #384
Please see https://github.com/symfony/symfony/issues/10035#issuecomment-329452067

[2017-09-15 08:34] raziel057 commented on #384
@chalasr I tried with your tip. The Digest authentication works but I always encounter a 401 when trying to authenticate by JWT.

[code]

[2017-09-15 09:23] chalasr commented on #384
Perfect! Thanks for reporting this

[2017-09-15 09:23] #384 closed

[2017-09-18 12:30] chalasr opened #389 "Abandon namshi/jose"
Library is [not maintained anymore](https://github.com/namshi/jose#deprecation-notice).
Initial plan: replace it by lcobucci/jwt integration, and go with custom encoders for complex needs (pushing towards `SpomkyLabs/jose`).

[2017-09-18 22:22] chalasr commented on #388
Hey, can you explain me what you mean by headless? Thanks

[2017-09-19 07:16] lpichoud opened #390 ""Bad credentials" translation"
Hello,

I try to translate the message "Bad credentials" returned when wrong credentials are provided :

[code]

I tried to put translation in security.fr.yml, messages.fr.yml and LexikJWTAuthenticationBundle.fr.yml but none of theses worked.

I found the message in JWTAuthenticationFailureResponse but it doesn't look like it's translated.

Is there a way to do it ?
Thanks in advance.

[2017-09-19 09:04] norbert-yoimo commented on #378
I would also be interested in this

[2017-09-19 09:48] chalasr commented on #378
Sorry for the delay. I'm going to work on this part in the coming days, this can't be achieved without rewriting a lot right now.

[2017-09-19 10:04] norbert-yoimo commented on #378
No problem, don't worry about it :)

[2017-09-20 15:43] Luckystrike561 commented on #376
Hi any solution for your issue ? I have exactly the same ;)

[2017-09-20 16:27] pdoreau commented on #376
@Luckystrike561 It seems ok with :

 * id as `user_identity_field` (config.yml)
 * a custom JWTTokenAuthenticator using findOneById (userRepository)

Is that a good / recommended way ?

[2017-09-20 16:33] hiromik commented on #335
@chalasr Using [JMS Serializer](https://github.com/schmittjoh/serializer) (or Symfony serializer) the User object is properly serialized but the second json_encode pass adds slashes to the serialized user key such as
[code]
Any tips ?

[2017-09-20 16:33] chalasr commented on #376
@pdoreau I think it can be simpler:

1) `id` as `user_identity_field`
2) the symfony built-in `entity` provider configured to use `id` as property to load users
[code]

Note: 2) can be replaced by a custom user provider, while it is able to load users based on the configured `user_identity_field`.

[2017-09-20 16:34] chalasr commented on #376
(Apologies for the delay)

[2017-09-20 18:35] Spomky commented on #335
Hi,

I thinl you can try to change the configuration of the JMSSerializerBundle.
See http://jmsyst.com/bundles/JMSSerializerBundle/master/configuration#extension-reference and the `options` parameter

[2017-09-20 20:32] hiromik commented on #335
It's the json_encode called by the **bundle** that gives that behaviour not the one from JMS since it doesn't know how to json encode the whole user object (and renders and empty user : { } object) I serialized it myself with JMS, the thing is that it gets serialized again by the bundle

[2017-09-23 10:43] maximebourdel opened #391 "cannot call doctrine with JWTTokenAuthenticator extends BaseAuthenticator with app.php"
Hi,

i have a problem when i switch between app_dev.php and app.php

here is the error in my prod.log

request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Call to a member function getRepository() on null" at /var/www/html/carPool/api/src/MainBundle/Security/Guard/JWTTokenAuthenticator.php line 73

the precise line is
$admin = $this->doctrine->getReposi

[2017-09-25 06:45] Luckystrike561 commented on #376
Hi thank for reply but I'm working in NoSQL (mogodb) and after some research I didn't find any configuration like you for "Document base" I will look for @pdoreau solution.

[2017-09-25 13:26] xhuberdeau opened #392 "Database-less user provider empty payload"
Hi,
I'm using the database-less user provider ([https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/8-jwt-user-provider.md](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/8-jwt-user-provider.md)) with a custom user class implementing JWTUserInterface. The problem is that the payload array is empty in the createFromPayload method. So I ca

[2017-09-29 11:43] NiklasTeich opened #393 "New Token after user data changed"
Hello!

I have a short question, because i can't find anything about that issue:

So, a new Token is required after changing user data (i read about that, changing credential-related data, like the username or password requires a new Token ..) but - my system requires new Tokens even after changing unrelated custom attributes, and that's quite weird.

My use case: The user is capable of changing c

[2017-09-29 12:09] NiklasTeich commented on #393
I solved everything to write a custom method to only update credential unrelated data, for both users and administrators. If the user changes something, he retrieves a new Token - if the administrator changes something, everything still works and nobody neeeds a new Token!

[2017-09-29 12:09] #393 closed

[2017-10-01 21:36] juliusstoerrle commented on #388
Hey, i mean removing the header so that only the payload and signature parts are send.

I read on various pages that that would improve security, as a server would than only accept one algorithm for validation.

[2017-10-02 16:18] lvillarino opened #394 "How I set jwt_token_ttl before I generate a token?"
Hi:

How I set _jwt_token_ttl_ before I call _$this->get( 'lexik_jwt_authentication.encoder' )
		              ->encode_ ?

Thanks

[2017-10-03 09:10] chalasr commented on #394
Hi, that's not possible AFAIK. Can you explain your use case?

[2017-10-03 14:30] lvillarino commented on #394
I want to generate 2 tokens with different ttl, and I want to use the second token as a refresh_token.

I don't to use the https://github.com/gesdinet/JWTRefreshTokenBundle

Thanks

[2017-10-03 16:28] lvillarino commented on #394
I think that I can resolved my problem with this https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/2-data-customization.md#example-override-token-expiration-date-calculation-to-be-more-flexible

[2017-10-03 16:28] #394 closed

[2017-10-06 12:52] chalasr commented on #392
I will look into this as soon as possible.

[2017-10-06 12:54] chalasr commented on #391
This looks like a cache issue. If you get a different behavior between dev and prod environments for a service that does not differ, it's likely you need to remove the production cache (fastest: `rm -rf var/cache/*`).

[2017-10-09 13:07] maximebourdel commented on #391
Works like a charm after cleaning cache sorry i did not think about it.

[2017-10-09 13:07] #391 closed

[2017-10-13 06:04] ahtsei opened #396 "Getting token payload into custom user provider"
Hi there,

Firstly, thanks for this useful bundle.

My question is essentially about getting the token payload passed into my custom user provider, more specifically the loadUserByUsername method. I'm using a custom provider as I'm fetching a user that's uniquely defined by two fields ie. username + company.

My issue is that one of those fields is getting passed in the token payload, so ideally i

[2017-10-13 06:09] lashae commented on #390
We made the translation in our JWTListener class as follows:

[code]

[2017-10-13 08:55] ge0Aja commented on #340
Hello, I'm trying to set the public_key_path/private_key_path to public_key/private_key in a symfony framework project, but I'm getting the following error :
  [Symfony\Component\Config\Definition\Exception\InvalidConfigurationException]
  Unrecognized options "private_key, public_key" under "lexik_jwt_authentication"
Any suggestions ?
Thank you

[2017-10-13 10:19] chalasr commented on #340
@ge0Aja This feature has not been implemented yet. I'm currently finishing #369 which will provide a better base for this. Once that done, I'll give some more details about what needs to be done here and wok on it if nobody does.

[2017-10-13 10:21] ge0Aja commented on #340
@chalasr Thank you I've just noticed that it is on the Todo list. I'm trying this work around to deploy the project to heroku since they do not allow changing permissions for their file system.

Did you encounter this problem before ?

[2017-10-13 10:28] chalasr commented on #396
Hey,

Fortunately, this should be unlocked in the next minor version thanks to #344.
I would like to release it by the end of this month.

Maybe could you try it and confirm it fits your need?
Checking out the master branch of this bundle and maving your custom user provider implements `UserProviderWithPayloadSupportsInterface` should do the job (btw, I plan to rename it to something like `Payload

[2017-10-13 16:03] lpichoud commented on #390
Thanks for your answer. I handled it manually in client side, but it may help someone.

[2017-10-13 16:03] #390 closed

[2017-10-16 02:15] ahtsei commented on #396
Awesome, thanks for that @chalasr (and also big thanks to @sroze for implementing).

[2017-10-16 09:44] henry-geronimo opened #397 "login_check with Content-Type application/json not working"
Hi guys,

When i send a post request on login_check with application/json content-type, it keeps returning me a 401 "Bad credentials", whereas if i use application/x-www-form-urlencoded everything is working perfectly.

I can see with logs that when using application/json it acts like there was no username provided :
`doctrine.DEBUG: SELECT t0.username AS username_1, [...] WHERE t0.username_canoni

[2017-10-18 18:13] chalasr commented on #397
The symfony `form_login` listener is not meant to handle JSON encoded requests. You should have a look at `json_login` (introduced in symfony 3.3, see http://symfony.com/doc/current/security/json_login_setup.html).

[2017-10-22 08:47] Mestoph opened #400 "I can't generate public en private key automatically"
Hello,

If i run this command :
`bin/console debug:container jwt`
and i select
`lexik_jwt_authentication.encoder.default`

I have this response :
`Information for Service "lexik_jwt_authentication.encoder.default"
==================================================================

 ---------------- -------------------------------------------------------------
  Option           Value
 ------------

[2017-10-22 19:21] sephilink opened #401 "Unable to use token after generating it. JWTDecodeFailureException"
Hi,

I'm in a bad situation for about 3 days, I'm trying to make a simple auth & register app, but I'm always getting this 500 error when using the token I'm generating :

I was wondering what couldn't be good actually, here's my config :
In parameters.yml
[code]

The head of the RSA private :
[code]

The config.yml
[code]

The security.yml
[code]

I'm on v2.4 /w SF 3.3@dev, and it seems that some

[2017-10-23 15:55] timneill commented on #401
I am getting the same issue. The exception being returned is the generic "Invalid JWT Token" exception message coming rom a re-thrown exception inside JWTTokenAuthenticator. [Source](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Security/Guard/JWTTokenAuthenticator.php#L104). The decode is failing, even though the token can seems fine (i.e. parseable on e.g. jwt.io).

Everythin

[2017-10-24 05:20] chalasr commented on #401
I'll have a look today.

[2017-10-24 08:34] chalasr commented on #401
I'm unable to reproduce locally. Could one of you guys fork https://github.com/chalasr/lexik-jwt-authentication-sandbox, reproduce the issue and give me the branch here?

[2017-10-24 08:51] SephiL1nk commented on #401
I'll try that today yeah, keeping you updated

[2017-10-24 09:05] chalasr commented on #388
Sorry for the delay.
Actually this bundle (and the JOSE libraries it is based on) don't consider the `alg` header value for validating tokens. It always relies on the `lexik_jwt_authentication.encoder.signature_algorithm` config option, putting its value as `alg` value. I may be wrong but I think it's enough.

@Spomky could you confirm or give your opinion here?

[2017-10-24 09:48] chalasr opened #402 "Lcobucci relies on `alg` header for parsing"
As described in https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/, the algorithm used to decode the token should always be the one used to sign it, which might not be the case using the lcobucci provider. We should prevent that.

[2017-10-24 11:49] Spomky commented on #388
Well... it deviates from the JWT specification.

@juliusstoerrle I am curious. Where have you seen that it improves the security.

The algorithm used on server side can be guessed using the signature (e.g. a 256 bits signatures generated by the HS256 algorithm).
A better way to improve the security would be to have good keys (e.g. at least 2048 bits RSA keys) and to rotate them.

[2017-10-24 11:52] Spomky commented on #402
Hi @chalasr,

It should be fixed sinc [v3.0.0](https://github.com/lcobucci/jwt/releases/tag/3.0.0).
A test could confirm it.

[2017-10-24 13:44] SephiL1nk commented on #401
I tried and reproduced the error here : https://github.com/SephiL1nk/issueLexitJWTToken/tree/issue-loginJWTToken
I sent you a link, I'm not that accustomed to Github :)

[2017-10-24 13:47] chalasr commented on #401
@SephiL1nk Thanks! Can you give the steps needed to reproduce the bug? I guess I need to hit `/login` to get a token, then `/api` should fail when using the token?

[2017-10-24 13:48] SephiL1nk commented on #401
Yep exactly! That's the only steps I did

[2017-10-25 09:05] alejgarciarodriguez commented on #379
Be sure to use  "Lexik\Bundle\JWTAuthenticationBundle\Event\AuthenticationFailureEvent" instead of "Symfony\Component\Security\Core\Event\AuthenticationFailureEvent" and should work well.

Example:

[code]

[2017-10-25 17:22] chalasr commented on #402
For now it's only a soft dependency required as `~3.2` in dev, so there's no issue.
Thanks @Spomky

[2017-10-25 17:22] #402 closed

[2017-10-26 15:34] juliusstoerrle commented on #388
I'm not to sure where i have read it but following article explains the underlying vulnerability.
(https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

But if this library is not using the header to check a token, this does not apply anyway, so it would only be less data to be send down the wire, but those few bytes do not matter in my opinion.

[2017-10-27 08:30] chalasr commented on #401
Despite the reproducer, there is no issue on my side. Here is what I do:

[code]

[2017-10-27 08:44] Spomky commented on #388
This bundle relies on third party libraries (namshi/jose, lcobucci/jwt or custom implementations).
It is up to these implementations to perform all cryptographic operations and header verification.

As far as I know, the security issue you mentioned is fixed for all libraries officially supported by the bundle.

[2017-10-27 09:26] chalasr commented on #388
Closing then :)

[2017-10-27 09:26] #388 closed

[2017-10-30 10:12] #397 closed

[2017-10-30 10:15] chalasr commented on #400
Hello,

The `debug:container` command is not meant to generate keys for you, but give you information about the services available to your application.
The bundle doesn't provide a command for generating keys, we decided to not make it responsible for this task, you have to run the commands given [there](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/index.md#insta

[2017-10-30 10:15] #400 closed

[2017-10-30 10:16] chalasr commented on #386
Closing as explained.

[2017-10-30 10:16] #386 closed

[2017-10-30 10:17] chalasr commented on #396
Closing then :)

[2017-10-30 10:17] #396 closed

[2017-10-30 10:42] chalasr commented on #371
Fixed in #405

[2017-10-30 10:42] #371 closed

[2017-10-30 10:44] chalasr commented on #376
Isn't https://github.com/lexik/LexikJWTAuthenticationBundle/issues/386#issuecomment-327872930 what you are looking for?

[2017-10-30 10:49] RenierLewis commented on #371
Thanks for fixing this guys!

[2017-11-02 17:19] thanhhuy12th opened #406 "401 credentials with entity User"
I create my web service with symfony and JWT, and get an issue, it return 401. And here code, please check my wrong, thank you.

**Security**:

`security:
    encoders:
          AppBundle\Entity\User:
              algorithm: bcrypt

    providers:
          entity_provider:
              entity:
                  class: AppBundle\Entity\User
                  property: username

    firewalls:

[2017-11-02 18:38] thanhhuy12th commented on #406
Ok, i did it. Just add
`security:
          encoders:
              AppBundle\Entity\User:
                  algorithm: md5
                  encode_as_base64: false
                  iterations: 0`

And it's work!

[2017-11-02 19:38] norkunas commented on #406
Please don't store passwords as md5, use stronger encoders like bcrypt or argon2i

[2017-11-03 02:22] thanhhuy12th commented on #406
Yes, thank you. I see!

[2017-11-03 15:31] lashae opened #407 "JWTAuthenticationFailureResponse shouldn't be tagged with @internal"
We need to translate the "Bad credentials" message which is displayed when a user tries to login with bad credentials.

To fulfill this requirement, we implemented a listener on the `lexik_jwt_authentication.on_jwt_invalid` event with the following code:

[code]

However, `JWTAuthenticationFailureResponse` class has the `@internal` phpDoc tag, which causes a warning on our IDE PhpStorm:

`Class JW

[2017-11-03 15:32] chalasr commented on #407
👍  Can you submit a PR?

[2017-11-03 15:37] lashae commented on #407
@chalasr Sure. Same is true for `JWTAuthenticationSuccessResponse`. Would you like me to remove its `@internal` tag as well?

[2017-11-03 15:38] chalasr commented on #407
👍  again :)

[2017-11-03 15:52] lashae commented on #407
Here it is @chalasr #408

[2017-11-04 12:11] #407 closed

[2017-11-04 16:09] Asia321 commented on #34
I had the same issue, the solution for me was `json_login` instead of `form_login` in security.yml

[2017-11-08 15:38] greg0ire opened #409 "Using the bundle with token created somewhere else"
My company is intending to use [http://www.keycloak.org/](Keycloak) to generate JWTs for applications that need it.
I'm trying to use this bundle for the guard it provides, which I guess can check the signature against a public key.
I skipped the configuration step where you provide the keys for the moment, and created the following security config:

[code]

The app crashes

This sounds wrong, bec

[2017-11-08 15:49] greg0ire commented on #409
Hmm nevermind, flex added that env in a config file for me, so although I thought I hadn't configured anything, I actually did. Will close if I manage to use the bundle without a private key.

[2017-11-08 15:58] greg0ire commented on #409
Or rather, I'll reopen if I can't use the bundle, but I just stopped getting 500s :)

[2017-11-08 15:58] chalasr commented on #409
The use case seems legit to me. I'm not totally sure it's fully supported, but if it is not, supporting it should not require much work (at worst some validation to remove from JWSProviderInterface implems). Please keep me informed

[2017-11-08 18:07] greg0ire commented on #409
I'll keep you posted in both cases then, thanks a lot for caring!

[2017-11-09 11:06] greg0ire commented on #409
Second hurdle, but I believe it's not the fault of this bundle: https://github.com/symfony/symfony/issues/24877

[2017-11-09 11:18] greg0ire commented on #409
Third hurdle, I need to use the `client_credentials`. To achieve that I need to use https://github.com/FriendsOfSymfony/FOSOAuthServerBundle (I don't need the server part though). That's what I understand when reading https://github.com/api-platform/core/pull/982

[2017-11-09 14:07] greg0ire commented on #409
I think I'm going to stick with Lexik and try to make it work anyway, not quite sure how yet.

[2017-11-09 14:56] greg0ire opened #411 ""bearer" is case sensitive"
It looks like the the `token_type` is case insensitive, and according to the spec, it should not be, see this blog post:
https://sgeb.io/posts/2015/05/fix-go-oauth2-case-sensitive-bearer-auth-headers/

https://github.com/lexik/LexikJWTAuthenticationBundle/blob/ddfd184c8dd2f56b0b01bc5731dc84c9c9396701/TokenExtractor/AuthorizationHeaderTokenExtractor.php#L51-L53

[2017-11-09 14:59] greg0ire commented on #411
The same blog post says this though:

But I think we should apply the "be liberal with your input, and strict with your output" rule here

[2017-11-09 15:28] greg0ire commented on #409
I finally managed to authenticate!

I had to pretend to be in username password mode and use `clientid` as `user_identity_field`.

Here is my user class:

[code]

[2017-11-09 15:34] #411 closed

[2017-11-09 15:38] chalasr commented on #409
Nice use case, well done!

[2017-11-09 15:50] greg0ire commented on #409
Thanks!

[2017-11-10 07:38] Spomky commented on #409
This use case is very interesting.
It will be great if the bundle could support that. For example through a list of trusted issuers (`iss` claim + associated public/shared keys for token verification).

@ WDYT?

[2017-11-10 08:13] greg0ire commented on #409
I assumed the token was verified with the public key I provided but didn't actually check that. And you are proposing to have several of them 🤔 ? That's interesting indeed!

[2017-11-10 09:00] Spomky commented on #409
That's it. At the moment the bundle uses the key defined in the configuration to verify the token signatures.
If the bundle is able to support trusted third parties, this means it has to manage several public/shared keys (maybe other parameters) and to verify tokens issued by those parties.

I see several use cases:

- The bundle issues and verifies its own tokens (current behavior)
- The bundle v

[2017-11-10 09:25] greg0ire commented on #409
Should I reopen this issue? Or should you create a new one for clarity?

[2017-11-10 09:33] chalasr commented on #409
Sounds good to me, let's discuss it here

[2017-11-10 10:09] greg0ire commented on #409
From what @Spomky says, I think what is needed is :

- the ability to have several public keys
- the ability to have 2 parts of the bundle that work without waking up the other, which means some interfaces like `JWSProviderInterface` probably need to be split into 2 interfaces, and same should probably go for the implementations. Corresponding services should be loaded only when needed

[2017-11-17 12:00] maximebourdel opened #414 "HOW TO unit testing for extending JWTTokenAuthenticator and JWTCreatedListener"
Hi,

I would like to create Unit testings with phpunit for

- `JWTTokenAuthenticator`

- `JWTCreatedListener` classes I have extended in my own bundle,

But i don't know how to do so...

I tried to take a look at :
`Lexik\Bundle\JWTAuthenticationBundle\Tests\Security\Guard\JWTTokenAuthenticatorTest`

but as far as i can see, it extends` \PHPUnit_Framework_TestCase`
And when i try to use that class

[2017-11-17 12:17] chalasr commented on #414
Hey,

The `PHPUnit/Framework/TestCase` class is a PSR-4 alias of the `\PHPUnit_Framework_TestCase` class, this alias is provided by the [symfony/phpunit-bridge](https://github.com/symfony/phpunit-bridge) package.
You can either look at using this package (it's a dev requirement for this bundle, that's why you won't get it installed when requiring this bundle), or use the original `\PHPUnit_Framewo

[2017-11-20 12:40] zolech commented on #340
Hi, any info on this ? We also want to use environment variable for this, especially for docker containers.

[2017-11-28 10:00] nicraMarcin opened #415 "Symfony Flex and JWT configuration"
Hi,
How about configuration jwt with symfony flex?
After install via composer, generate keys, jwt doesn't emit any events :/
[code]

[2017-11-29 04:28] jaiprakashmahi commented on #357
I have created some  REST API  and tested it's working fine with jwt token on postman.
I need to call REST API through ajax so, how i can receive jwt  tokent to send with REST API.

[2017-11-29 12:03] chalasr commented on #415
Hi,

It does _emit_ events, but does not listen on. This bundle dispatches a bunch of events you can hook into (https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/2-data-customization.md) but does not register any listener itself because there is no need to do so.

[2017-11-29 20:53] nicraMarcin commented on #415
Yes, but profiler shows all dispatched events even without listeners. In standard symfony profiler shows all jwt events but not in flex version.

[2017-11-30 07:49] nicraMarcin commented on #415
Ok,
but after install jwt via composer `composer req jwt-auth` and configure providers and firewall in config/services.yaml I have that error
[code]

[2017-11-30 09:16] nicraMarcin commented on #415
Ok,
my mistake.
Thanks

[2017-11-30 09:16] #415 closed

[2017-11-30 12:41] chalasr commented on #414
Closing due to the lack of feedbacks as it does not report a bug nor ask for a precise feature. Please feel free to reopen

[2017-11-30 12:41] #414 closed

[2017-11-30 23:29] evaldoprestes opened #416 "Symfony 4"
Please, update to Symfony 4.

[2017-12-01 00:58] chalasr commented on #416
What do you mean? This bundle is compatible and tested on Symfony 4, installable using `composer req jwt-auth` on flex.

[2017-12-01 15:23] chteuchteu opened #418 "Weird user mismatch issue"
We've implemented this bundle into our project for a while now (several months). Since the beginning, we're experiencing weird un-reproducible issues that drives us crazy.
Since the beginning, some users gets logged in as others. Nothing links one user (the "stealer" that gets logged in as the "victim") to another (the "victim").

The issue appears randomly, without any pattern

Our app is an API

[2017-12-01 17:10] maximebourdel commented on #414
Sorry, i tried with \PHPUnit_Framework_TestCase but i did not managed to.

I only managed to PHPunit my controllers

`use Symfony\Bundle\FrameworkBundle\Test\WebTestCase;

class WhatYouWantControllerTest extends WebTestCase
{
    private $client;
    private $em;

    protected function setUp() {
        $this->client = static::createClient();
        $this->client->enableProfiler();
        $this

[2017-12-03 14:43] pesseyjulien opened #419 "Hash password alternative ?"
Hi,

Thanks for this great bundle !

I have a little concern though, regarding the authentification process. Is it mandatory to send the password in clear ? Could we send the hash version ?

Best,
Julien

[2017-12-03 15:49] erikbaan commented on #354
In my case, the username property in my User entity was emptied in the eraseCredentials method. This resulted in a `Invalid JWT Token` message as well, because of failing in the `isset` check in `JWTProvider.getUserFromPayload`. I guess that in this case, the token is valid, but the user entity invalid. Which might require another error message.

[2017-12-04 06:53] BunnyHolder commented on #416
It can be closed. I have problem with JWT token not found, but only in test cases

[2017-12-04 08:55] #416 closed

[2017-12-06 10:10] lashae commented on #407
@chalasr When do you plan to release 2.4.3?

[2017-12-06 13:29] chalasr commented on #407
@lashae released, thanks for the reminder

[2017-12-06 13:39] lashae commented on #407
You're welcome :-)

[2017-12-09 13:10] carlosafonso commented on #340
Maybe we could separate the HMAC support and the direct key content ingestion from #369, at least while #369 is in the works.

@chalasr I could help with this if it's OK.

[2017-12-12 19:36] kanonhian opened #420 "trigger check_path manually from controller"
[code]

This is my firewall ands work fine. Thing is I have my login decoupled from my controller via REST. What I need is that when accessing to /login the check_path be triggered and therefore, the authentication process. Any idea?

[2017-12-12 22:39] ducho opened #421 "Token expired even if I use it in every REST API request"
Hi.
I need to have the JWT token expire when no request is call in my REST API. I need TTL 1800 but let the token expire when application is not used for 30 minutes.

Is it possible with this bundle ? Or any recommended solution ?
Thanks.

[2017-12-13 16:20] #420 closed

[2017-12-13 21:18] alan-printi opened #422 "Bypass JWT validation"
Is there some way to bypass the validation of JWT?
My idea is build an micro service of authentication, this service will be plugged directly in the API gateway and it will be validated before the APIGW dispatch it to the correct service.
Once the authentication service already validated it and the services behind the APIGW are not public accessible, I don't want to validate the JWT again in each

[2017-12-16 12:22] fesor commented on #419
this will make hash of your password just "plain password" from server point of view. If I catch your hash, I sill could use it to authenticate.

Anyway, SSL basically solves most of the problems.

[2017-12-16 12:30] chalasr commented on #419
The `form_login` is part of Symfony, not this bundle. Anyways, sending plain passwords in the request body is common as said above. Closing here, thanks

[2017-12-16 12:30] #419 closed

[2017-12-18 10:18] Lemonify opened #423 "ServiceNotFoundException: lexik_jwt_authentication.handler.authentication_success"
Hello,

I followed a documentation over here: https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/7-manual-token-creation.md and tried to implement the last part with `handleAuthenticationSuccess` method. However, it seems it's not working in Symfony 4 anymore.

`The "lexik_jwt_authentication.handler.authentication_success" service or alias has been removed or inlined w

[2017-12-18 10:51] chalasr commented on #423
Thanks for reporting this bug, I will try to find the best approach for fixing it. Keep you informed

[2017-12-19 01:11] vrobinsonscs opened #424 "Get entity collections on authentication success"
Greetings -

Sincere apologies if this has been asked about, but haven't found any similar discussions, other than the slightly related https://github.com/lexik/LexikJWTAuthenticationBundle/issues/362

We'd like to return a list of roles after successful login, which relies on a property that is a collection, rather than a simple string or integer. However, grabbing that property in the Authentica

[2017-12-19 09:12] chalasr commented on #424
Greetings,

Because `json_encode` does not know how to encode your objects, you need to define a key for each property you need to expose by calling getters explicitly, and that for all your object hierarchy.
I suggest to have a look at the symfony serializer, if your objects are exposing the relevant properties via getters, the following code would normalize them to a clean array:

[code]

[2017-12-21 10:09] damienfern opened #425 "Authentication by Webservice"
Hi,

I'm developing a API REST with Symfony 4. To do it, I installed the recipe API Platform and everything went fine. Now I would like authenticate every request by a token. But the authentication is done by another webservice :  I send the credentials by SOAP and it responses by true or false depending on the success or the failure. My class and my functions to do so are already done and the onl

[2017-12-22 16:27] chalasr commented on #425
Hey,

In order to answer you as best as possible, I need to know if you want to call your SOAP webservice each time a token is submitted (e.g. calling it once for getting the token, and once per token-authenticated request for validating its authorization scope, roles, lock...)?

In any case, you'll need a custom user provider (alternative to in_memory) for loading your user when the form login is

[2017-12-26 12:23] pesseyjulien opened #426 "Private key does not exist or is not readable"
Hi,

I'm having some trouble to make the token creation work on Heroku. I have followed the doc to generate the keys, they exist, 777 rights, but I'm getting the error every time i'm trying to login.

`Private key "/app/app/../var/jwt/private.pem" does not exist or is not readable`

Any thoughts ?

Thanks in advance,
Julien

[2017-12-26 15:16] damienfern commented on #425
I would like to call the SOAP service when the user log in (to check if user credentials are correct). Then I only check if the token given in each request is still the same.

Thank you for your help :)

[2017-12-26 16:29] #426 closed

[2017-12-27 01:25] rmartinezoliva opened #427 "Attempted to load class "LexikJWTAuthenticationBundle" from namespace "Lexik\Bundle\JWTAuthenticationBundle". Did you forget a "use" statement for another namespace?"
Symfony 3.1.3

[2017-12-27 15:06] abdelhafiddahhani opened #428 "'openssl' is not recognized as an internal command"
when i exc this command  openssl genrsa -out var/jwt/private.pem -aes256 4096 i get error ==> 'openssl' is not recognized as an internal command
or external, an executable program or a batch file.

How i can fix this issus plz

[2017-12-29 04:07] zorn-v commented on #428
If you have Win10 (apparently you try to do it on windows) you can install Linux subsystem. Find "Ubuntu" in windows market and install it. Then you can run `bash` in cmd and go on.

[2017-12-29 04:13] zorn-v commented on #427
My computer did not work, can you do anything with this, guys ?

[2017-12-29 04:43] rmartinezoliva commented on #427
When I try to install jwt-authentication-bundle
  php composer.phar require "lexik/jwt-authentication-bundle"
  Update  AppKernel
  new Lexik\Bundle\JWTAuthenticationBundle\LexikJWTAuthenticationBundle(),

 and test only this
http://localhost:8082/html/web/app_dev.php

and show the error

"Attempted to load class "LexikJWTAuthenticationBundle" from namespace "Lexik\Bundle\JWTAuthenticationBundle".

[2017-12-30 01:39] rmartinezoliva commented on #427
Update to Symfony 3.3 and solved the problem.

[2017-12-30 01:39] #427 closed

[2018-01-03 05:52] lashae opened #429 "Advice for verification of Firebase idToken"
We are using [Firebase](https://firebase.google.com/) integration in our project. We have chosen the path of customToken implementation. Firebase customToken implementation works as follows:

- Firebase generates an exclusive private key when we create our Firebase project.
- We store this private key within our Symfony application under the path where LexikJWTAuthenticationBundle expects it to be

[2018-01-03 12:22] lashae opened #430 "Question about KeyDumperInterface"
While trying to implement #429 I came across with the KeyDumperInterface:

[code]

All of the KeyLoaders included within the bundle implements this interface.

I searched the bundle for the usage of `dumpKey()` method however it seems that it isn't used anywhere. What is the purpose of this interface and required `dumpKey` method?

[2018-01-04 10:05] Spomky commented on #429
@chalasr: I think this issue could be linked to https://github.com/lexik/LexikJWTAuthenticationBundle/issues/409#issuecomment-343415965.
I tried to figure out how to solve that using my bridge. The public key set can be converted into a JWKSet, but the token cannot be loaded as the issuer is not the expected one (I am not sure it is a good idea to ignore such claim).

[2018-01-04 10:17] lashae commented on #429
I'm on the way to implement the requirements. What I have implemented so far is:

A custom JWSProvider (FirebaseJWSProvider) and a custom KeyLoader (FirebaseOpenSSLKeyLoader).

Implemented a compilerPass as follows:

[code]

I would very much appreciate to support my use case within the bundle and open to contribute if it makes sense. @chalasr @Spomky

[2018-01-04 11:05] Spomky commented on #429
With the help of @chalasr, I developed [a bridge that may help you](https://github.com/Spomky-Labs/lexik-jose-bridge) and I think it can help you to solve that issue.

Before the installation of the bridge, you have to retrieve your public/private keys and convert them into the JWKSet format
There is [a dedicated console command](https://github.com/web-token/jwt-app) that will do the job for you:

[2018-01-05 00:02] vrobinsonscs commented on #424
Apologies for the tardy acknowledgement, but thank you for the speedy response on your part.

Very intriguing idea. We're using the JSS Serializer, but perhaps there's no reason we couldn't invoke the Symfony serializer for this purpose. We'll give it a try.

[2018-01-05 06:09] lashae commented on #429
Thank you very much for your time and verbose message. However, there are some issues.

The public keys are **subject to change/rotation** and the whole idea of publishing them on a URL is the __probability of "rotation"__. Google, periodically rotates its keys to conform their security standards. Therefore, the implementation should detect that a JWT with an "unknown keyId" has arrived and refres

[2018-01-05 07:16] Spomky commented on #429
Hi, thanks you for your feedback.

In the example I wrote, the script creates a file with the keys, but nothing prevent you from setting directly an env var.
This is what I do every day for one of my applications. The script I use retrieves the [keys from the Google server](https://www.googleapis.com/oauth2/v3/certs) and update an env var using the heroku CLI. That script is called from another se

[2018-01-05 08:54] chteuchteu opened #431 "Should JWTEncoderInterface implementing class return false or throw an exception on error?"
According to documentation ([Creating your own encoder](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/5-encoder-service.md#create-the-encoder-class)), a class implementing the `JWTEncoderInterface` should return `false` when something goes wrong in the `decode` method.

In the other hand, the [`DefaultEncoder`](https://github.com/lexik/LexikJWTAuthenticationBundle

[2018-01-05 15:12] BlueM opened #432 "Question: firewall-specific token_extractors still possible with v2?"
Hi,

thanks for your work on this bundle – JWT as easy as it can get :-)

In the preparation of the migration of an existing Sf application to v4, I upgraded LexikJWTAuthenticationBundle from v1 to v2. The application uses JWTs via “Authorization“ header, but for one part of the application (i.e.: one route prefix) it must be possible to pass the token via query string.

With v1 of the bundle, I c

[2018-01-09 08:59] kregielpl opened #434 "Question: Is it possible to login using custom field?"
Hi,
I want to login and generate token using only barcode which is assigned to user.
I've read a bit about custom user authentication in SF2 but that way require a lot of work.
What do you think if exist a simpler way?
Thanks for advice.

[2018-01-09 14:12] mnavarrocarter opened #435 "Override the Token Roles"
I'm building an application that requires a very dynamic authorization system and it will be very useful to be able to override the `JWTUserToken` roles. I know that a `setRoles()` method in the `JWTUserToken` class will be kinda unconventional, since it's exposing to the whole application the chance of  modifiying the token roles.

I'm currently using relfection to modify the token roles, but I t

[2018-01-09 14:24] mnavarrocarter commented on #435
Or maybe, what would be event better, is allow the users to define their own token, and not just the roles. Same principle: constructor does the default, but it can be overriden. The event itself will can hold the login for the token creation.

[2018-01-09 14:53] mnavarrocarter commented on #434
Yes, you can.

You can define your `user_identity_field` as show in [here](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/1-configuration-reference.md). Then you need to make sure your user provider answers to the field where you have the barcode.

Also, you will probably need to Hook to some events if you have a service that sorts of reads or decodes the barcode y

[2018-01-09 15:02] mnavarrocarter commented on #432
I'm not the maintainer of this repo, but as far as I can see in the code, the Guard Authenticator receives a ChainTokenExtractor service, that has different types of extractors that are run one by one. In those the QueryParam one is included. In theory, you could send the token via query param in every protected route on the firewall and it will work anyways.

If you don't want that functionality,

[2018-01-09 15:10] kregielpl commented on #434
But If it works without password field?

[2018-01-10 11:53] mnavarrocarter commented on #434
In the `UserInterface` in Symfony you have a method called `getPassword` if I recall correctly. That is what the symfony auth system checks for as a "password", but you can put whatever you want in there. So you make that field return the barcode value, or you can put some custom logic in there to return one or the other. But also you will have to hook into the Auth System to perform some extra va

[2018-01-10 12:00] chalasr commented on #434
I would suggest to write a guard authenticator that replaces the `form_login` used to get a token. The authenticator would load your user by barcode and, for its `onAuthenticationSuccess/Failure()`  methods, use the authentication failure+success handlers provided by this bundle. That would require one class and the corresponding service definition, see https://symfony.com/doc/current/security/gua

[2018-01-10 12:02] chalasr commented on #430
It has been added to ease sharing a public/shared key, see https://github.com/lexik/LexikJWTAuthenticationBundle/issues/305 for discussion.

[2018-01-10 12:05] chalasr commented on #431
The documentation is wrong, it should throw an exception to be handled by the consumer. Would you mind creating a PR for fixing it? Thanks for the report

[2018-01-10 13:09] chteuchteu commented on #431
@chalasr Here it is! :-)

[2018-01-10 16:00] #406 closed

[2018-01-11 18:39] kanonhian opened #438 "populating the tokenstorage"
I am using a doctrine filter which adds 'deleted=true' to all my queries. Now I want to allow this only for non admin users, so I need to do something like this in order to check the user credentials: $this->get(security.token_storage)->getToken()->getUser(), but the token is empty, even when I am authenticated. Any other way to get the User?

[2018-01-11 19:28] ermalmino commented on #409
Hi everyone,
I am also very interested in this, especially with @Spomky proposal:

Is anyone currently working on this? I would love to help in any way if possible. Please let me know.
Great bundle by the way.

[2018-01-11 20:02] kanonhian commented on #438
Well I took a shortcut, I guess. Subscribing to authenticationsuccess event
[code]

Then in my onSecurityInteractiveLogin method

[code]
I guess it's all. If there I am missing something please tell me.

[2018-01-11 20:03] #438 closed

[2018-01-12 08:57] Spomky commented on #409
Hi @ermalmino,

Yes I am working on it and I will add this feature on [my custom encoder](https://github.com/Spomky-Labs/lexik-jose-bridge). But the feature is not yet ready. Hoping I can merge it by the end of the month.

[2018-01-12 13:14] AlexDupreWeb opened #439 "Symfony 4 Documentation"
I have some problems with JWT Token integration in Symfony 4. Your documentation is available for Symfony 3.2 or less. Can you update with Symfony 4 integration please? 😃

[2018-01-12 14:09] lashae commented on #430
Thank you for clarification.

[2018-01-12 14:09] #430 closed

[2018-01-12 15:17] chalasr commented on #439
Sure, it needs some updates. Could you detail the problems you face and how you solved them if you did? That would help for sure. Thanks1

[2018-01-12 16:46] christophe-mailfert opened #440 "Symfony 4 + json_login exemple"
Hi there,

Thx a lot for your bundle.

I'm trying to transform form_login to a json_login for an api. With form_login everything works, but when i'm trying to have a json_login got this error:

[warning] Unable to look for the controller as the "_controller" parameter is missing.

[code]

It's like symfony system authentication does not work with json_form.

Any idea ?

Thx for advance;

[2018-01-17 13:10] pablonunez opened #441 "Config token_ttl time not working"
Testing my project I tried to change de token_ttl value but it didn't work.

I think there is a bug on DefaultJWSProvider when create the payload. The ttl configuration is overwritten.

I fix it in this commit. Hope it's useful.
https://github.com/pablonunez/LexikJWTAuthenticationBundle/commit/82b25ae5c1ce8cf31ff69d01c20d54a9d95099a6

[2018-01-17 20:20] Taluu commented on #389
How about using the suggested replacement (`firebase/php-jwt`) instead, or the continuation of spomky which is `web-token/jwt-framework` ?

[2018-01-18 10:03] chalasr commented on #389
@Taluu lcobucci/jwt is already implemented so the switch is easy, and `spomky-labs` has its own bridge + flex recipe for this bundle. A firebase/php-jwt integration would be good to have though.

[2018-01-18 10:13] Taluu commented on #389
The thing is, `spomky-labs` is deprecated in favor of the `web-token`, as stated on the README :

[2018-01-18 10:14] chalasr commented on #389
The bridge has been updated accordingly, it relies on `web-token` https://github.com/Spomky-Labs/lexik-jose-bridge/blob/v2.0/composer.json

[2018-01-19 16:17] brunoreis commented on #86
thank you @nicolaskern

[2018-01-20 02:16] brunoreis opened #442 "Is there an easy way to add the userId to the JWT ?"
I'm using SF 4 and this bundle. It's working fine. I'm using the suggested config:

[code]

when I decode the token in the frontend I see it has the username, but it does not have the userId. Is there an easy way of adding the userId to the token?

[2018-01-20 10:30] norkunas commented on #442
You can listen for `lexik_jwt_authentication.on_jwt_created` event and attach the userId to token payload

[code]

[2018-01-22 13:01] chalasr commented on #423
@brunoreis This bundle works fine with symfony 4, it's tested and I use it everyday. The doc needs some adjustments regarding naming of config files in code examples, but there is no blocker, a flex recipe is available under the `jwt-auth` alias.
About this issue, the deprecation seems legit, dependency injection should be used. The doc needs to be fixed to not call `get()` on a container-aware co

[2018-01-22 13:02] chalasr commented on #442
Closing as explained

[2018-01-22 13:02] #442 closed

[2018-01-22 14:38] pesseyjulien opened #444 "Add data to token"
Hi,

Is it possible to add data to the token itself. Currently, if you decode the default one, you have :

email
exp
iat
roles

Thanks in advance,
Julien

[2018-01-22 15:04] pesseyjulien commented on #444
My bad, didnt see https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/2-data-customization.md#eventsjwt_authenticated---customizing-your-security-token

[2018-01-22 15:04] #444 closed

[2018-01-22 20:29] brunoreis commented on #423
Thanks. In fact I installed it using the recipe and I'm using it successfully already. Thanks a lot for this.

[2018-01-23 21:27] brunoreis commented on #426
Hey @pesseyjulien, please, how did you do your deploy to heroku?

[2018-01-24 10:18] pesseyjulien commented on #426
HI,

You need to use env variables.

So in your parameters, you have `env(jwt_path): '%kernel.root_dir%/../var/jwt'`
config : `private_key_path: '%env(jwt_path)%/private.pem'
                public_key_path:  '%env(jwt_path)%/public.pem'`

and your heroku dashboard, define a Config Variables.
<img width="726" alt="capture d ecran 2018-01-24 a 11 17 01" src="https://user-images.githubusercontent.co

[2018-01-25 19:52] nWidart opened #445 "Unit tests, generating token"
Hello,

I've been struggling to unit test generating a token in order to test my api endpoints.

I've followed the docs using:

[code]

And in my actual test method:

[code]

Yet, this returns `{"code":401,"message":"Bad credentials"}`.

My `test/security.yaml` has this:

[code]
Basically json_login changed to form_login.

I have a password hasher listener to hash the password. I thought it might

[2018-01-29 08:03] kavw commented on #440
Hello @christophe-mailfert, please try to follow examples in this article http://symfony.com/doc/current/security/json_login_setup.html

[2018-01-29 12:01] sroze commented on #396
@chalasr speaking about it... it might be time for a minor? 😉

[2018-01-29 14:24] chalasr commented on #434
Closing due to the lack of feedback, feel free to reopen.

[2018-01-29 14:24] #434 closed

[2018-01-30 15:33] chalasr commented on #439
Here is a working example under symfony flex: https://github.com/chalasr/lexik-jwt-authentication-sandbox/tree/flex.
Feedback welcomed, I'll soon take time to update the bundle documentation accordingly.

[2018-01-30 15:34] chalasr commented on #440
Here is a working example using `json_login` under symfony 4 (flex): https://github.com/chalasr/lexik-jwt-authentication-sandbox/tree/flex.
Feedback welcomed, I'll soon take time to update the bundle documentation accordingly.

[2018-01-30 18:32] imajim commented on #116
Hello,
This tips interest me too.
no one for answer?

I have a ROLE_API and i would like that only users with this role, can connect to my API.

Thanks ^^

[2018-01-30 18:36] imajim opened #446 "Accept connection with only one ROLE"
Hello !

I have a ROLE_API (and other ROLES) but i would like that only users with this role, could connect to my API.
It's possible ?

Thanks ^^

[2018-01-30 19:05] kavw commented on #440
Hello @chalasr! Could you please give an answer, is there a way to return a token after the registration or it's bad practice. Thank you.

[2018-01-30 19:16] imajim commented on #446
In addition i do

in services.yml :
`api.event.jwt_decoded_listener:
        class: ApiBundle\EventListener\JWTCreatedListener
        arguments: [ '@request_stack' ]
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_created, method: onJWTCreated }`

JWTCreatedListener.php :
`
namespace ApiBundle\EventListener;

use Lexik\Bundle\JWTAuthenticationBund

[2018-01-31 05:53] imajim commented on #446
Waiting for a better answer here is what I did :
services.yml :
`
api.event.authentication_success_listener:
        class: ApiBundle\EventListener\AuthenticationSuccessListener
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_authentication_success, method: onAuthenticationSuccessResponse }
`
In ApiBundle/EventListener/AuthenticationSuccessListener.php

[2018-01-31 10:18] christophe-mailfert commented on #440
Thx all for your return.

Seems work when i'm in production mode, but fail and i launch my unit test. I will try to provide an example asap :)

[2018-02-01 12:24] glasset commented on #116
hey @imajim, i have create my own guard authenticator.
you can add your check  in   `getUser` method

more info: https://symfony.com/doc/current/security/guard_authentication.html

[code]

[2018-02-01 12:45] imajim commented on #116
Hello @glasset

Thank you ^^, i keep your approach.
For the moment i do the same post (https://github.com/lexik/LexikJWTAuthenticationBundle/issues/446)

[2018-02-01 12:46] #446 closed

[2018-02-01 15:34] chalasr commented on #446
Personally I would users a token and reject it using the `access_control` rule only, but I understand the motivation for not giving a token at all. Your last implementation is the way to go.

[2018-02-01 16:46] GianniObiglio commented on #421
Do you refer to a refresh token system ?
- First, you log, and the server gives you a 30 min lifetime token.
- Each time you do a request, and the token is valid, the server returns you the data you need + a new token available for 30 min.
- Client side, you have to replace the previous token by the new one.
- So when you dont do request (when application is not used for 30 minutes), the token you

[2018-02-02 19:21] Perf opened #448 "Incorrect authentication failure message handling"
Hi,
when auth failure happens, at some point this code will be executed (in file `lexik/jwt-authentication-bundle/Security/Http/Authentication/AuthenticationFailureHandler.php`):
[code]
the issue is that `$exception` contains a specific error message, and `new JWTAuthenticationFailureResponse()` has the default message string 'Bad credentials'.

When event dispatched, response object is not update

[2018-02-02 19:37] Perf commented on #448
As a quick fix - create your event subscriber.
[code]

[2018-02-03 08:59] BlueM commented on #432
Thanks for answering. After the migration to Sf4 and bundle version 2 everything works fine with the globally available query-string based token. I would have preferred to restrict the query string approach only to the one functionality where I can’t avoid it, but (as you point out) it is no longer simply a configuration option, I think I’ll just leave it like it is. But anyway, thanks for the hin

[2018-02-03 08:59] #432 closed

[2018-02-05 10:40] chalasr commented on #421
JWT tokens are self-contained, they cannot be invalidated. You'll need some additional datastore hits for implementing this, @GianniObiglio's suggestion is fine, any kind of blacklist would do the job as well (e.g. adding a unique identifier to the token and keep a cache of `token id => last_used_at` and rejecting any token when the value is more than 30minutes ago, or a `lastAuthenticatedAt` at t

[2018-02-05 10:40] #421 closed

[2018-02-06 15:24] TheKassaK opened #450 "The "lexik_jwt_authentication.jwt_manager" service or alias has been removed or inlined when the container was compiled. You should either make it public, or stop using the container directly and use dependency injection instead."
Hello,

We are working on a Symfony 4 Flex project with my team (first time we use this version), and we have an error with this bundle :

In a controller, we retrieve a jwt_token like : `$token = $this->container->get('lexik_jwt_authentication.jwt_manager')->create($user);`

This work in a previous version of Symfony (3.4).

But now we have an error :

Do you have an idea ? Thanks !

[2018-02-07 00:33] krypton-code opened #451 "401 JWT Token not found"
Hello everyone, I need a help.
I will be very happy if someone helps me, because I am already on my second day over this problem.
Thanks a lot.

I provided two versions of the `security.yaml` file. The second version according to [API Platform](https://api-platform.com/docs/core/jwt) documentation. [API Platform](https://api-platform.com/docs/core/jwt) sends to the [creation a custom user provider

[2018-02-07 22:57] tameribrahim commented on #250
@lsmith77 you mentioned private/public key value for production.
 I found this authenticator in [Symfony docs](https://symfony.com/doc/current/security/api_key_authentication.html),  how can both ( I mean api-authenticator & JWT authenticators) work together?
So if the request has **Authentication** header, served by LexikJWTAuthentication, and if it has the key/secret pair, served by the APIAuthe

[2018-02-08 10:13] tharun148 opened #452 "401 unauthorized, after login is 200"
I have deployed a symfony with LexikJWTAuthenticationBundle bundle in apache2, php7.0 server.
My login api is working fine and when using the token and I have tried any other url it throws 401 error.
I have tried this [link](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/index.md#important-note-for-apache-users). But it also throws same error below is my virtual ho

[2018-02-08 18:42] Manuelacosta98 opened #453 "Using multiple user providers"
Hi i am working with the bundle using my user entity:

/**
 * Candidate
 *
 * @ORM\Table(name="candidate")
 * @ORM\HasLifecycleCallbacks()
 * @ORM\Entity(repositoryClass="AppBundle\Repository\CandidateRepository")
 */
class Candidate implements UserInterface
{
    /**
     * @var int
     *
     * @ORM\Column(name="id", type="integer")
     * @ORM\Id
     * @ORM\GeneratedValue(strategy="AUTO")

[2018-02-09 14:03] krypton-code commented on #452
Greetings. Need more information. You should provide curl request output, as shown in the docs and also file `security.yaml` and Symfony version.

[2018-02-09 14:22] krypton-code commented on #452
https://github.com/api-platform/api-platform/issues/557

[2018-02-09 14:22] krypton-code commented on #452
https://github.com/lexik/LexikJWTAuthenticationBundle/issues/451

[2018-02-09 14:24] krypton-code commented on #452
Also read this: https://github.com/api-platform/api-platform/issues/557

[2018-02-09 14:28] krypton-code commented on #452
Pay attention to my token, it does not look like the format of those that are given in the example on zwt.io on main page. Having tried many solutions, I tend to believe that the length of the token should be greater. We need to wait for a response from the developer, so far I do not see a solution.

[2018-02-09 14:32] tharun148 commented on #452
When I ran this with Symfony inbuilt server it works fine. But not working in apache2

[2018-02-09 14:49] krypton-code commented on #452
If I run the built-in server, also get a similar result, it don't work.
We can communicate in a Telegram, for comfortable interactions.
My Telegram: @stavanger

Best Regards

Sent with [ProtonMail](https://protonmail.com) Secure Email.

-------- Original Message --------
On 9 февраля 2018 г. 5:32 вечера, Tharunkumar V <notifications@github.com> wrote:

[2018-02-09 15:39] sebastiaanviaene opened #454 "token_ttl limit."
Is there a limit on what you can set the token_ttl?
I've set my token as a test on 2592000 (30 days) but my tokens still seem to expire after 1 day.

[2018-02-09 17:44] krypton-code commented on #452
Solution: https://github.com/api-platform/api-platform/issues/557#issuecomment-364453888

[2018-02-09 18:11] krypton-code commented on #451
Solution:
- https://stackoverflow.com/questions/48667976/401-jwt-token-not-found/48711745#48711745
- https://github.com/api-platform/api-platform/issues/557#issuecomment-364453888

[2018-02-10 21:17] chalasr commented on #451
Closing as solved :)

[2018-02-10 21:17] #451 closed

[2018-02-13 18:30] RecanN opened #455 "Getting " Invalid JWT Token " when I test my API"
Hi all, for information I'm a Noob in the unit Test.
So, LexikJWTAuthenticationBundle works fine when I try /login_check and the CRUL command line.
But when I try to do the TestCase I get this error :

_1) Tests\AppBundle\Controller\StoreControllerTest::testPOSTRate
GuzzleHttp\Exception\ClientException: Client error: `GET http://localhost:8000/api/stores` resulted in a `401 Unauthorized` response:

[2018-02-14 10:31] deniskhmel opened #456 "Symfony 3.4 JWTFactory and JWTUserFactory are depricated."
In LexikJWTAuthenticationBundle  classes JWTFactory and JWTUserFactory are depricated.
And also how can i use $jwtManager = $this->get('lexik_jwt_authentication.jwt_manager'); via dependency injection in my custom controller? thanks)

[2018-02-14 19:00] MustaphaGhlissi commented on #362
Hi guys ,

I am working right now with a REST API,

I would like to know how to generate a token with lexikauthbundle based a specific role

e.g : ROLE_SUPER_ADMIN : i want to send user and pass and generate a token if the user has the role SUPER_ADMIN for example

hope my idea was clear

[2018-02-15 09:25] #454 closed

[2018-02-19 14:33] tharun148 commented on #452
changed to ngnix server it was worked

[2018-02-19 14:33] #452 closed

[2018-02-19 16:32] shubaivan opened #457 "JWTToken change fields for generate"
I use Symfony 3.3.10 with `"lexik/jwt-authentication-bundle": "~2.0",` and for `user_identity_field` I use email

    lexik_jwt_authentication:
    private_key_path: '%jwt_private_key_path%'
    public_key_path:  '%jwt_public_key_path%'
    pass_phrase:      '%jwt_key_pass_phrase%'
    token_ttl:        '%jwt_token_ttl%'
    user_identity_field: email

But after my user, call put request with `ema

[2018-02-21 12:46] norbert-yoimo commented on #450
As a workaround in the meantime, you can use:

[code]
And then fetch `jwt_manager` from the container.

[2018-02-21 13:57] FuggyD commented on #457
i have the same issue with one difference:
`user_identity_field: id`

and my id of the user entity is not auto increment:
`/**
     * @ORM\Column(type="guid")
     * @ORM\Id
     * @ORM\GeneratedValue(strategy="UUID")
     */
    private $id;`

example: 9186b8bd-170b-11e8-82f8-480fcf324d89

[2018-02-21 19:31] RecanN commented on #300
@Adraesh Can you share with us the solution

[2018-02-22 10:00] Adraesh commented on #300
Well it's been a long time but still I can share with you some config which is actually working:

Vhost:
[code]

web/.htaccess must includes (newer SF version include it by default):
[code]

config.yml
[code]

security.yml (Adapt your patterns based on your needs. In my case the api is not under mydomain.com/api but directly callable from mydomain.com):
[code]

Hope it helps.

[2018-02-23 00:18] RecanN opened #458 "CURL works - ReacJs returns me 401 bad credentials"
Hi all,
I'm trying to create a jwt authentication with fosuserbundle, after installing lexkJwtAuthenticationVundle my CURL command line works very fine, but when I try to fetch post username and password in ReactJs the server returns me "401" message:"Bad credentials".

my security file :

[code]

My login function in React :

[code]

[2018-02-23 09:36] chalasr commented on #458
Your configuration contains:

[code]

But your code uses `_username` and `_password`. Try without underscores?

[2018-02-23 14:07] RecanN commented on #458
I updated still have the same error ! :(

[2018-02-23 20:26] WitteStier opened #460 "userIdentityField is hard coded in the JWTManager"
Hi,
Is there a reason why the `userIdentityField` property is hard coded or is this a bug?

https://github.com/lexik/LexikJWTAuthenticationBundle/blob/49f1ba49bab08a0632b275373748445b89de84fd/Services/JWTManager.php#L47

[2018-02-24 00:44] RecanN commented on #458
I restart a new project and it's works with this security :

[code]

[2018-02-24 00:44] #458 closed

[2018-02-24 09:35] norkunas commented on #460
It is just a default value. You can see in [manager configuration](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/96b99310a5ac3a6f32a455b731fa2de44109d0c3/Resources/config/jwt_manager.xml) that service sets identity field with the value you configure

[2018-02-24 09:57] MustaphaGhlissi opened #461 "How to know if the token is almost valid"
Hi

I am working with lexikauthentication

I want to know if there is any way to know if the token is expired or not

Regards,

[2018-02-24 22:46] WitteStier commented on #460
Thanks for your reply. Following this [documentation](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/49f1ba49bab08a0632b275373748445b89de84fd/Resources/doc/7-manual-token-creation.md) i can use the JWT manager to manual create tokens. But when i inject the JWTManager into my class and use `$jwtManager->create($user);`, then the token will contain a `username` property while i configure

[2018-02-25 21:02] Bonfante opened #462 "Chain doctrine providers"
Is it possible to use two entities with a chain provider?

    providers:
        api_user_provider:
            entity:
                class:              App\Entity\ApiUser
        api_administrator_provider:
            entity:
                class:              App\Entity\ApiAdministrator
        user_chain_provider:
            chain:
                providers:
                    - api_adm

[2018-02-25 22:39] Bonfante commented on #462
Ok, I resolved this issue.
The problem is than my ApiUser repository expect the username to be username@domain, but the token only store the username.
For now I alter getusername to return de Full username.
But this is not the better result as it will always get the domain from other entity.
As some way to alter the username stored in token only when the entity is ApiUser?

[2018-02-25 22:41] Bonfante commented on #457
The user entity method getusername is returning the email?

[2018-02-26 02:05] Bonfante commented on #462
Ok, the doc show the way.. haha

    App\EventListener\JWTCreatedListener:
        arguments: [ '@request_stack' ]
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_created, method: onJWTCreated }

And

    src/EventListener/JWTCreatedListener.php
    public function onJWTCreated(JWTCreatedEvent $event)
    {
        $user = $event->getUser();

[2018-02-26 02:05] #462 closed

[2018-02-26 02:09] Bonfante commented on #461
for example
`eyJhbGciOiJSUzI1NiJ9.eyJ1c2VybmFtZSI6IjFhcGl1c2VyQGRpbmFtaWNhIiwiaWF0IjoxNTE5NjEwNTE4LCJleHAiOjE1MTk2MTQxMTh9.N57BYhDzC0uTaBzGkBLbs2wIbr3tQOz3KTkmUaCzIDGgBCe7hVXa8XjRZkxrFSdfRtheSzUwMH6ZyErC8rF3VPTG26yKhQ8nExmkCzggPRi-KXNB_E9qrwdlVFweJaYPaZklXHzzZOe0ueRmg6W686qdnZtne7spYm_xRhKF1RLahuPk8iL4ZX3IxD-jjj7iHAn5ZUWEou7bTp_hjsf5Nf2uidBFL937WqeOcCpRIARfryRIOLfOgDruV2MPb5RNojibVCNpvzE-a2RrKDOkL

[2018-02-26 20:18] fcpauldiaz opened #463 "use another type of secret token"
is it possible to use another secret token that is not a .pem file ? Something like an .env var?
Related to #24

[2018-02-27 14:16] chalasr commented on #440
@kavw fine for me.

I'm closing here due to the lack of feedback, feel free to reopen.

[2018-02-27 14:16] #440 closed

[2018-02-27 14:24] chalasr commented on #461
As @Bonfante said, you can listen on the events dispatched during the token verification process to check the value of any claim.

[2018-02-27 14:24] #461 closed

[2018-02-27 14:30] chalasr commented on #463
Duplicate of https://github.com/lexik/LexikJWTAuthenticationBundle/issues/340?

[2018-02-27 14:34] chalasr commented on #460
Hi,

The service is configured with a [method call](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/config/jwt_manager.xml#L12) to `setUserIdentityField` from the value given to the bundle configuration , this is just a default value. I agree it's weird to set it in the constructor, it should be on the property directly, I'll change that asap, but the config does work.

[2018-02-27 14:34] #460 closed

[2018-02-28 19:35] aequasi opened #464 "AuthenticationSuccessHandler issues"
I'm trying to inject this class into my Symfony 4.0 Service using autowiring, but the class isn't in the container this way.

Would be awesome if this class was made public! I think the failure one needs to be as well.

[2018-03-04 14:41] chalasr commented on #464
Hey,

proper dependency-injection must work with private services using both explicit or auto wiring.
Are you sure that you're not trying to `get()` the success handler from a container?

[2018-03-04 14:42] chalasr commented on #463
Closing in favor of #340

[2018-03-04 14:42] #463 closed

[2018-03-04 14:44] chalasr commented on #376
Closing due to the lack of feedback, feel free to reopen.

[2018-03-04 14:44] #376 closed

[2018-03-04 14:46] chalasr commented on #370
This does not seem related to this bundle which is just throwing proper security exceptions, I'm closing. Feel free to reopen

[2018-03-04 14:46] #370 closed

[2018-03-04 15:48] #431 closed

[2018-03-04 16:03] #464 closed

[2018-03-04 16:03] chalasr commented on #464
Fixed by #465

[2018-03-04 16:03] chalasr commented on #423
Fixed by #465

[2018-03-04 16:03] #423 closed

[2018-03-04 16:18] chalasr commented on #456
Yes, they are deprecated on purpose, configuring the bundle as documented avoids the need for using them. About the `jwt_manager` service, it has been made public in #466.

[2018-03-04 16:18] #456 closed

[2018-03-05 10:13] gmponos commented on #389
Any progress on this. Since PHP 7.2 is out the package is not updated to support PHP 7.2.

I hope [this](https://github.com/namshi/jose/pull/120) get merged.

[2018-03-06 09:14] chalasr commented on #450
Fixed in #466

[2018-03-06 09:14] #450 closed

[2018-03-06 09:38] #428 closed

[2018-03-06 10:01] chalasr commented on #418
@chteuchteu strange story, any news about the cause or do you still suffer from this? It feels like Given the lack of feedback I guess the culprit is on your side :/

[2018-03-06 12:14] chalasr commented on #455
Hey, better hit your login endpoint for getting a token, or use the `lexik_jwt_authentication.jwt_manager` service

[2018-03-06 14:31] Walkoss opened #468 "Authenticate users only by username"
Hi,

I would like to know if it is possible to authenticate users without any password sent ?
In fact, my front end application calls an other webservice that send username to identify the computer.
And then I need to authenticate this username in my API.
The website doesn't plan to be public I just want a JWT token to track users.

[2018-03-06 19:06] chalasr commented on #468
Hi,

Yes, nothing should prevent that.
In fact, the part that requires the password is the `form_login` (or `json_login` or whichever symfony’s security listener), this bundle just hooks into the result of this authentication listener for delivering a token or not (via `success_handler` and `failure_handler`), username/password validation is pure symfony logic.

For your use case, I would replace

[2018-03-06 20:04] chteuchteu commented on #418
Nope, nothing new on our side. We added some checks on the consuming client to ensure that the token we're getting matches the expected identity, but it just feels weird.

Closing this, I'll post updates when/if we get some. Thank you for your attention!

[2018-03-06 20:04] #418 closed

[2018-03-06 20:09] Soullivaneuh opened #469 "Provide autowiring for JWTManagerInterface"
Sample:

[code]

https://github.com/lexik/LexikJWTAuthenticationBundle/commit/73fccd0c84c39bbb7cab6cf5b6a234d6e21177c2 does not seem to fix the issue.

[2018-03-06 20:12] Soullivaneuh commented on #469
Didn't see this interface is deprecated and the new interface has autowiring:

[code]

I think it can be closed in that case. :+1:

[2018-03-06 20:12] #469 closed

[2018-03-07 09:09] chalasr commented on #468
I'm closing as this is not a bug nor a feature request, feel free to reopen.

[2018-03-07 09:09] #468 closed

[2018-03-08 11:10] Walkoss opened #470 "Exception message not returned when using onAuthenticationFailure"
Hi,

I implemented a Guard Authenticator as @chalasr  recommended #468 to do and first I want to thank him.

I also extended my User entity to handle `isEnabled()` functionality https://symfony.com/doc/current/security/entity_provider.html#forbid-inactive-users-advanceduserinterface

But now when I try to get a token (login) from a non-active user I get the following response :
[code]

Here is my

[2018-03-08 12:34] chalasr commented on #470
👍 Good catch, can you submit a PR? It should target the 2.4 branch

[2018-03-12 12:39] fjugaldev opened #474 "Events::AUTHENTICATION_SUCCESS - Adding public data to the JWT response"
Hi,

i´m trying to add a custom public data to the JWT response and when i follow the instructions for my symfony instalation i´m getting the following message:

My services.yml looks like:

[code]

And the class for this service:

[code]
I'm doing everything just like the documentation says.

The next thing i tried is to define the service like this:

[code]
But still throwing the same error. I´m

[2018-03-12 12:47] chalasr commented on #474
Hi,

Error says `AuthenticationEventListener.php` but service definition says `AuthenticationSuccessListener`, classname-filename mismatch.

[2018-03-12 12:47] #474 closed

[2018-03-12 13:22] fjugaldev commented on #474
my mistake.. OMG!.. i was obfuscated xD

Thanks @chalasr

[2018-03-13 14:33] JuanWilde opened #475 "[SOLVED] How to get user info from token"
I'm trying to migrate my default Symfony token authentication with this one to create a stateless API.
At the moment, I have some listeners that extends from an abstract class to check is the logged has rights or not to perform and action.

This is the abstract aware class

[code]

And this is an example of how to prevent a user to delete a not own expense in the listener

[code]

My question is,

[2018-03-14 09:36] #475 closed

[2018-03-14 11:58] soromamadou commented on #355
If someone have the same problem, make sure that the pass use to generate the private is the same in the config files

[2018-03-16 16:20] #470 closed

[2018-03-16 16:20] chalasr commented on #448
Fixed by #472

[2018-03-16 16:20] #448 closed

[2018-03-19 13:32] cduran433 opened #476 "Logging using Doctrine user provider and JWT"
Hello,

I am trying to implement the JWT authentication in my project follow the instructions written in the [documentation](https://api-platform.com/docs/core/jwt). I can make it work with if I use the memory provider but when I am trying to do it with the entity provider I always get the response bad credentials. If I change the provider and I use "in_memory" instead of "my_own_provider" it work

[2018-03-22 10:48] merianos opened #477 "When running acceptance tests I get the following notices:"
[code]

Can anyone explain what those notices are and how I can fix them?

Thank in advance!

[2018-03-23 08:58] #477 closed

[2018-03-23 15:01] FabulousCo commented on #416
@BunnyHolder so how did you fix it ? I've get the same error since my upgrade to symfony 4 flex

[2018-03-23 15:48] FabulousCo opened #478 "Upgrade to Symfony 4 => "A Token was not found in the TokenStorage""
I'm currently in the process of upgrading my project to Symfony 4 flex.

In the Functional Tests, when hitting post: /login_check, the token is returned properly, but when I test another route, just afterwards, I get an Exception saying: "A Token was not found in the TokenStorage".

Is there any special step to be done, that I might have missed, for this bundle to work properly, when upgrading to

[2018-03-27 10:15] FabulousCo commented on #478
This helped me find the issue: https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/3-functional-testing.md#functionally-testing-a-jwt-protected-api

[2018-03-27 10:15] #478 closed

[2018-03-27 17:28] Med-Seif opened #479 "Always get 401 Error"
Hello,

I worked for 3 days with your bundle and I found that the documentation isn't good explained.

Well, I followed the documentation step by step and I can send POST requests to /api/login_check and got 401 Error

My Need is how can I configure the authentification system of the bundle so I  can authenticate a user against a file on disk, I'm not using database.

I'm totaly blocked

Thank you

[2018-03-28 12:41] #479 closed

[2018-03-31 23:58] sensorario opened #480 "Symfony4 + jwt-auth rescipe always return {“code”:401,“message”:“Bad credentials”}"
I've no troubles with Symfony3. With Symfony4 is not working. I always get Bad Credentials.

https://stackoverflow.com/questions/49592019/userproviderloaduserbyusername-and-i-always-get-code401-messagebad-c

[2018-04-01 10:44] sensorario commented on #480
Solved here https://github.com/sensorario/sf4-jwt-example

[2018-04-01 10:44] #480 closed

[2018-04-03 16:21] Preovaleo opened #481 "last_login updated each request"
Hello,

I just made the upgrade to disable this deprecation messages :
[code]

I don't know if this is a bug or a feature but, with the "new" guard configuration, each time i do a request to my symfony back-end, Symfony update the last_login field in the database. In my case, that could be problematic because it add a call to the database at each request.

im going from this config in my security.

[2018-04-03 20:41] nicraMarcin commented on #439
I've simmilar issue but I get 401 Bad Credentias :/

[2018-04-03 22:31] nicraMarcin opened #482 "Login with json"
Are there any chances to provide login via json ?
[https://symfony.com/blog/new-in-symfony-3-3-json-authentication](https://symfony.com/blog/new-in-symfony-3-3-json-authentication)

[2018-04-04 08:52] nicraMarcin commented on #482
Ok, it works so session can be disabled :)
[code]

[2018-04-04 14:41] aybekchaouech commented on #86
thank you @nicolaskern

[2018-04-04 15:24] romainguerrero commented on #86
thank you @nicolaskern you're so the best !

[2018-04-05 10:26] ik19 opened #483 "'openssl genrsa' doesn't work when I use AES"
Hi,
I have a problème when I try to generate a Ssh Key as requested in the instructions of this Bundle.

When I use this command :
`openssl genrsa -out config/jwt/private.pem -aes256 4096`
The process doesn't finish, here is what I have : [preview result of the command](https://i.stack.imgur.com/D4TBF.png)
But it works perfectly without the use of AES (either: -aes256 or 128 or other ..)
Do you kn

[2018-04-07 06:54] #483 closed

[2018-04-09 18:28] HanaBenHammouda opened #484 "401,"message": "Bad credentials" LexikJwtAuth"
Please can you help me to resove this bug. I try the configuration several times but the same result when i test using postman i have this 401,"message": "Bad credentials"
please help me
Security.yml
`# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hiera

[2018-04-10 13:44] ahmetilhann commented on #484
#480

[2018-04-12 13:48] #484 closed

[2018-04-12 13:48] HanaBenHammouda commented on #484
Resolved

[2018-04-13 10:22] ocdevops opened #486 "Symfony 3.4 + FOSUserBundle + LexikJWTAuthenticationBundle"
Could you update the documentation to be compatible with Symfony 3.4 version?
I used LexikJWTAuthenticationBundle with Symfony 2.8 without any issue, but after I started to use it on Symfony 3.4 I'm getting errors:

- route 'api_login_check' not found
- route '/api/login_check' -> return 404 error

[2018-04-21 00:08] Lakrimou opened #487 "Symfony html view instead of having a token or "You should never see this""
I imported the fosuserbundle routes in routing.yml for application needs ... but the problem when I test the API with postman login does not work I still get an html view instead of getting a token it looks like i have a confrontation with the fosuserbundle login route that i have imported
and I change the name of the route I get the following message ''You should never see this".
how can I run th

[2018-04-21 00:58] Lakrimou commented on #487
i found the solution i must put api's firewall before the other firewalls

[2018-04-21 00:58] #487 closed

[2018-04-21 05:13] gustawdaniel commented on #450
@norbert-yoimo where paste this code in Symfony 4?

[2018-04-23 10:57] norbert-yoimo commented on #450
Into services.yml

[2018-04-24 10:15] patrickjDE commented on #286
So there is currently no way to account for clock skew?

[2018-04-26 08:41] MatSkor opened #488 "no controller found for /api/login_check"
Hi,

I'm new to Symfony and tried this bundle with his documentation but I only get the error:
"no controller found for /api/login_check". I don't understand where it comes from. I already googling but I did not find a solution for my error. If someone can help, thank a lot.

Here is my code :
` security.yml :

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_